<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackDespiteForm</key>
	<string>unaryInsideProxy</string>
	<key>capacitiesByMemento</key>
	<string>movementJobRate</string>
	<key>chapterAndMethod</key>
	<string>nextPaddingPadding</string>
	<key>handlerNumberSize</key>
	<string>transitionAroundMethod</string>
	<key>heroFlyweightDirection</key>
	<string>ephemeralMovementFrequency</string>
	<key>specifySliderLeft</key>
	<string>sliderAmongAction</string>
	<key>symmetricDropdownbuttonKind</key>
	<string>textureStageBrightness</string>
</dict>
</plist>
