<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleNearCommand</key>
	<string>batchMediatorColor</string>
	<key>enabledPreviewIndex</key>
	<string>associatedIntensityCenter</string>
	<key>entropyCompositeTail</key>
	<string>cubitViaJob</string>
	<key>factoryParamOpacity</key>
	<string>popupVisitorShape</string>
	<key>integerTempleAlignment</key>
	<string>compositionalServiceLeft</string>
	<key>progressbarAsScope</key>
	<string>tabviewWithMediator</string>
</dict>
</plist>
