<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clipperOrMethod</key>
	<string>textBeyondJob</string>
	<key>directObserverColor</key>
	<string>providerAlongSystem</string>
	<key>futureStageResponse</key>
	<string>concurrentMetadataStatus</string>
	<key>loopPrototypeLeft</key>
	<string>sustainableScaleTop</string>
	<key>topicParamPadding</key>
	<string>optionLevelMode</string>
	<key>touchAtWork</key>
	<string>iterativeReductionTransparency</string>
</dict>
</plist>
