<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dropdownbuttonVersusMode</key>
	<string>topicVarMode</string>
	<key>enabledPointDistance</key>
	<string>asynchronousNavigatorTint</string>
	<key>framePhaseBottom</key>
	<string>tensorInteractorVelocity</string>
	<key>positionSincePhase</key>
	<string>denseNotificationFlags</string>
	<key>scaffoldAlongParameter</key>
	<string>capacitiesWithoutProcess</string>
</dict>
</plist>
