<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainThreadFeedback</key>
	<string>subsequentSliderTag</string>
	<key>sliderCycleCoord</key>
	<string>crudeContractionTheme</string>
	<key>synchronousCurveFeedback</key>
	<string>configurationStyleType</string>
	<key>touchSingletonDepth</key>
	<string>borderVariablePosition</string>
</dict>
</plist>
