<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryUntilContext</key>
	<string>utilAsTemple</string>
	<key>captionNearFacade</key>
	<string>composableCompleterInteraction</string>
	<key>custompaintAlongSingleton</key>
	<string>fixedCallbackDensity</string>
	<key>descriptionKindTransparency</key>
	<string>nextSliderBottom</string>
	<key>lossInParameter</key>
	<string>cartesianMediaqueryMomentum</string>
	<key>modulusExceptLayer</key>
	<string>sensorActivityTheme</string>
	<key>queryFormInteraction</key>
	<string>plateOutsideCycle</string>
	<key>reactiveProtocolFrequency</key>
	<string>descriptorBridgeColor</string>
	<key>textOutsideJob</key>
	<string>providerSinceDecorator</string>
</dict>
</plist>
