<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationAboutStage</key>
	<string>routeWithoutType</string>
	<key>histogramExceptFlyweight</key>
	<string>modalFacadeDirection</string>
	<key>masterWithoutPattern</key>
	<string>offsetUntilJob</string>
	<key>positionedKindColor</key>
	<string>finalResourceBound</string>
</dict>
</plist>
