<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowForProxy</key>
	<string>modalWithTemple</string>
	<key>cubitCommandCoord</key>
	<string>immutableAspectratioDensity</string>
	<key>immediateAlphaName</key>
	<string>functionalHandlerScale</string>
	<key>observerInterpreterHead</key>
	<string>nextAnchorShade</string>
	<key>popupAmongPrototype</key>
	<string>advancedViewStatus</string>
	<key>requestAlongStyle</key>
	<string>symmetricMatrixCoord</string>
	<key>resourceChainRate</key>
	<string>hashMediatorBehavior</string>
	<key>statefulNotifierStatus</key>
	<string>routeProxyBound</string>
	<key>vectorStrategyStyle</key>
	<string>gestureOperationForce</string>
</dict>
</plist>
