<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerLevelVelocity</key>
	<string>keyInjectionColor</string>
	<key>routeTaskState</key>
	<string>transitionScopeMode</string>
	<key>stateKindMargin</key>
	<string>vectorCycleTint</string>
	<key>swiftBridgeLocation</key>
	<string>activeAnchorStyle</string>
</dict>
</plist>
