<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationByFunction</key>
	<string>projectStrategyIndex</string>
	<key>constraintInsideVariable</key>
	<string>builderDecoratorRotation</string>
	<key>discardedQueryOrigin</key>
	<string>tensorTitleOffset</string>
	<key>hardAllocatorAppearance</key>
	<string>consultativeStreamTransparency</string>
	<key>skirtStructureVelocity</key>
	<string>scaffoldForVar</string>
	<key>storyboardAsCommand</key>
	<string>errorFrameworkVisibility</string>
</dict>
</plist>
