<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contractionStrategyColor</key>
	<string>routerNearSystem</string>
	<key>custompaintCompositeHead</key>
	<string>drawerStateAlignment</string>
	<key>notificationAgainstSystem</key>
	<string>grainActivityCoord</string>
	<key>substantialBlocTransparency</key>
	<string>hashCycleSpeed</string>
</dict>
</plist>
