<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completionFrameworkMode</key>
	<string>asyncAllocatorAcceleration</string>
	<key>lazyConstraintName</key>
	<string>unactivatedStepBehavior</string>
	<key>painterFacadeAlignment</key>
	<string>listviewMethodDirection</string>
	<key>sensorCyclePosition</key>
	<string>finalVectorPosition</string>
	<key>textureInTemple</key>
	<string>blocAmongLevel</string>
	<key>typicalPetDuration</key>
	<string>resourceInsideCycle</string>
</dict>
</plist>
