<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisWithProxy</key>
	<string>finalRoutePosition</string>
	<key>chartExceptSystem</key>
	<string>progressbarSystemOpacity</string>
	<key>errorTempleCoord</key>
	<string>missedStoryboardRotation</string>
	<key>playbackLevelBrightness</key>
	<string>profileFormTail</string>
	<key>primaryRemainderFeedback</key>
	<string>effectIncludeMemento</string>
	<key>significantTernaryFeedback</key>
	<string>parallelStorageMomentum</string>
	<key>usedStreamStatus</key>
	<string>interfaceOperationPadding</string>
</dict>
</plist>
