<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveDescriptionName</key>
	<string>routeAgainstStructure</string>
	<key>convolutionWithoutProcess</key>
	<string>subpixelPatternTop</string>
	<key>labelMementoShade</key>
	<string>nextPointFormat</string>
	<key>responseWithOperation</key>
	<string>subsequentTopicTag</string>
	<key>serviceAboutMethod</key>
	<string>characterPerBuffer</string>
	<key>sessionLayerTransparency</key>
	<string>instructionPrototypeDirection</string>
	<key>subsequentEventName</key>
	<string>threadByMethod</string>
	<key>timerPerSystem</key>
	<string>priorErrorDensity</string>
</dict>
</plist>
