<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delicateEffectInset</key>
	<string>variantInPattern</string>
	<key>lostTextureSpacing</key>
	<string>alignmentBeyondLevel</string>
	<key>substantialStoreVisible</key>
	<string>collectionVarLeft</string>
</dict>
</plist>
