<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorSystemHue</key>
	<string>composableMapDensity</string>
	<key>channelTemplePressure</key>
	<string>logarithmFunctionPressure</string>
	<key>managerContainComposite</key>
	<string>chapterOrSystem</string>
	<key>statefulChannelSize</key>
	<string>mainTransformerMargin</string>
	<key>swiftByAction</key>
	<string>delegateBesideBridge</string>
</dict>
</plist>
