<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptorMementoTag</key>
	<string>profileCycleOrientation</string>
	<key>eagerThreadRotation</key>
	<string>granularNavigatorResponse</string>
	<key>framePerCycle</key>
	<string>dependencyContainStructure</string>
	<key>hashScopeEdge</key>
	<string>sortedConvolutionColor</string>
	<key>listviewAgainstForm</key>
	<string>greatRemainderHead</string>
	<key>particleFromShape</key>
	<string>storeThanPattern</string>
	<key>progressbarShapeBottom</key>
	<string>blocAdapterName</string>
	<key>sequentialEffectInterval</key>
	<string>mainRouteAlignment</string>
	<key>variantOrPrototype</key>
	<string>responseFunctionTension</string>
	<key>zoneVarInteraction</key>
	<string>pointContainShape</string>
</dict>
</plist>
