<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowNearPhase</key>
	<string>lostReductionTension</string>
	<key>dropdownbuttonOperationStyle</key>
	<string>mobileRouteEdge</string>
	<key>newestTaskDelay</key>
	<string>nodeOfMode</string>
	<key>specifyMetadataDensity</key>
	<string>visibleTabviewDensity</string>
</dict>
</plist>
