<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleWithChain</key>
	<string>loopMethodVisibility</string>
	<key>exceptionInMediator</key>
	<string>entropyContainProcess</string>
	<key>groupPlatformCount</key>
	<string>asynchronousBuilderShade</string>
	<key>listenerJobMomentum</key>
	<string>gramVisitorTint</string>
	<key>mobileMediatorFrequency</key>
	<string>indicatorAlongMediator</string>
	<key>momentumAwayObserver</key>
	<string>prevSpecifierRate</string>
	<key>positionOrMethod</key>
	<string>histogramWithValue</string>
	<key>richtextAboutJob</key>
	<string>anchorAsParameter</string>
	<key>sinkThroughParameter</key>
	<string>subscriptionStateAcceleration</string>
	<key>smallResourceShade</key>
	<string>secondGradientRight</string>
</dict>
</plist>
