<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionAsBridge</key>
	<string>checkboxAtPlatform</string>
	<key>anchorLevelScale</key>
	<string>equalizationWithoutShape</string>
	<key>assetNearParameter</key>
	<string>tweenAboutPlatform</string>
	<key>grainParameterFlags</key>
	<string>routeExceptStyle</string>
	<key>responseNearPlatform</key>
	<string>cubitOutsideVar</string>
	<key>richtextViaProcess</key>
	<string>topicFunctionStyle</string>
	<key>stepFunctionIndex</key>
	<string>directlyGramTransparency</string>
	<key>streamUntilBuffer</key>
	<string>sizeParamSkewy</string>
</dict>
</plist>
