<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerOperationSaturation</key>
	<string>declarativeEffectTransparency</string>
	<key>elasticDocumentEdge</key>
	<string>streamSingletonSkewx</string>
	<key>popupObserverCenter</key>
	<string>singletonUntilChain</string>
	<key>requiredStreamOrientation</key>
	<string>injectionTypeInterval</string>
	<key>signatureExceptObserver</key>
	<string>nativeUnaryContrast</string>
	<key>subsequentEffectMargin</key>
	<string>equalizationPerBuffer</string>
</dict>
</plist>
