<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedSpriteDelay</key>
	<string>cacheObserverDepth</string>
	<key>coordinatorTempleVelocity</key>
	<string>stackPatternDepth</string>
	<key>descriptionAboutAdapter</key>
	<string>particleProcessKind</string>
	<key>eventNearSystem</key>
	<string>taskAsWork</string>
	<key>gemInMediator</key>
	<string>statefulInjectionName</string>
	<key>promisePlatformState</key>
	<string>compositionAtParameter</string>
	<key>requestBufferShape</key>
	<string>newestDrawerDirection</string>
	<key>signSystemTint</key>
	<string>reusableRowBrightness</string>
	<key>signatureDecoratorSkewx</key>
	<string>repositoryCompositeDensity</string>
	<key>taskTierVisible</key>
	<string>gridviewCompositeShape</string>
</dict>
</plist>
