<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerActionStatus</key>
	<string>subscriptionFrameworkMomentum</string>
	<key>customizedTransitionFlags</key>
	<string>awaitVisitorSpeed</string>
	<key>integerUntilKind</key>
	<string>requestMementoLocation</string>
	<key>keyIsolatePosition</key>
	<string>checklistBesideMediator</string>
	<key>particleSystemBottom</key>
	<string>stackPhaseMode</string>
	<key>skirtExceptBuffer</key>
	<string>normTemplePressure</string>
	<key>tickerVisitorTransparency</key>
	<string>aspectIncludeAction</string>
</dict>
</plist>
