<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constExtensionTop</key>
	<string>sampleLayerStyle</string>
	<key>desktopSinkBrightness</key>
	<string>bitrateWithAction</string>
	<key>functionalShaderInset</key>
	<string>requiredButtonPosition</string>
	<key>hierarchicalPositionedType</key>
	<string>blocTaskState</string>
	<key>intermediateTickerHead</key>
	<string>brushAndAdapter</string>
	<key>kernelMethodEdge</key>
	<string>cupertinoCharacterFeedback</string>
	<key>particleAgainstFunction</key>
	<string>reusableDescriptionStyle</string>
	<key>shaderTaskTail</key>
	<string>ternaryForMode</string>
	<key>tensorStatefulPosition</key>
	<string>denseStepHue</string>
	<key>textUntilVisitor</key>
	<string>otherMethodAcceleration</string>
</dict>
</plist>
