<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerTimerTint</key>
	<string>singleAssetDepth</string>
	<key>cubitObserverPosition</key>
	<string>cupertinoModelHead</string>
	<key>entityParameterHue</key>
	<string>hierarchicalAnimatedcontainerBorder</string>
	<key>getxStyleDirection</key>
	<string>containerInsideAdapter</string>
	<key>playbackDespiteFramework</key>
	<string>denseVectorRate</string>
</dict>
</plist>
