<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constSensorTension</key>
	<string>segueByLayer</string>
	<key>curveStructureBrightness</key>
	<string>originalSliderType</string>
	<key>eventStageRight</key>
	<string>fixedInkwellSize</string>
	<key>gateCompositeCount</key>
	<string>variantIncludeEnvironment</string>
	<key>riverpodScopeTheme</key>
	<string>stepDuringMethod</string>
	<key>routeAsSingleton</key>
	<string>nativeAnchorVelocity</string>
	<key>staticResultType</key>
	<string>cubitSinceTier</string>
	<key>textFormFeedback</key>
	<string>tappableIsolateDelay</string>
</dict>
</plist>
