<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crucialGrainContrast</key>
	<string>containerActivityEdge</string>
	<key>grainBesideKind</key>
	<string>interactiveKernelResponse</string>
	<key>instructionIncludePrototype</key>
	<string>subtleResponseInteraction</string>
	<key>spriteModeIndex</key>
	<string>cartesianControllerTail</string>
</dict>
</plist>
