<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerInjectionColor</key>
	<string>anchorOrAdapter</string>
	<key>convolutionLikeParameter</key>
	<string>dialogsAdapterSize</string>
	<key>descriptionBridgePressure</key>
	<string>agileNodeFrequency</string>
	<key>firstQueryPosition</key>
	<string>providerLevelCoord</string>
	<key>invisibleWidgetRotation</key>
	<string>oldUsecaseFeedback</string>
	<key>sophisticatedTimerForce</key>
	<string>hashInOperation</string>
	<key>streamThroughAction</key>
	<string>sharedTextfieldRight</string>
	<key>tableAgainstMode</key>
	<string>navigatorDuringFacade</string>
	<key>tangentMediatorSpacing</key>
	<string>plateBesideInterpreter</string>
</dict>
</plist>
