<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarLayerVisible</key>
	<string>interfaceCommandPadding</string>
	<key>containerDuringDecorator</key>
	<string>fusedOffsetCenter</string>
	<key>descriptorShapeSkewy</key>
	<string>declarativeAxisTransparency</string>
	<key>durationVarScale</key>
	<string>riverpodActionState</string>
	<key>otherAssetDuration</key>
	<string>directProgressbarForce</string>
	<key>painterDespitePrototype</key>
	<string>gradientVisitorBound</string>
	<key>protectedConfigurationSkewy</key>
	<string>nativeSlashSize</string>
	<key>relationalPaddingOffset</key>
	<string>temporaryViewAlignment</string>
	<key>symmetricPageviewType</key>
	<string>flexibleAssetState</string>
	<key>timerCommandLocation</key>
	<string>delegateTypeRight</string>
</dict>
</plist>
