<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diversifiedChartAcceleration</key>
	<string>similarModelResponse</string>
	<key>euclideanPopupMargin</key>
	<string>layoutInsideBridge</string>
	<key>graphVarSpacing</key>
	<string>routerIncludeParameter</string>
	<key>greatImageRight</key>
	<string>fusedStepMomentum</string>
	<key>numericalSubpixelSkewx</key>
	<string>subscriptionChainMode</string>
	<key>scrollableHashRate</key>
	<string>crucialLabelContrast</string>
	<key>significantSinkBorder</key>
	<string>diversifiedCosineMomentum</string>
	<key>sophisticatedBufferMomentum</key>
	<string>singleCompositionMode</string>
	<key>synchronousMobileFrequency</key>
	<string>columnThroughAdapter</string>
	<key>tabviewContainParameter</key>
	<string>multiCoordinatorCoord</string>
</dict>
</plist>
