<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dynamicAlignmentCoord</key>
	<string>discardedResponseStatus</string>
	<key>intuitiveTransitionValidation</key>
	<string>getxMethodTag</string>
	<key>multiControllerSkewy</key>
	<string>listviewOutsideWork</string>
	<key>similarMapInset</key>
	<string>controllerThroughStrategy</string>
</dict>
</plist>
