<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxStageLeft</key>
	<string>containerValueRate</string>
	<key>controllerFormTop</key>
	<string>tabbarBridgeContrast</string>
	<key>interactiveSwiftFrequency</key>
	<string>reducerWithAction</string>
	<key>layoutAwayVar</key>
	<string>unsortedCheckboxVisible</string>
	<key>nibExceptFacade</key>
	<string>diversifiedBufferSkewy</string>
	<key>smallDurationStatus</key>
	<string>rapidSpriteInteraction</string>
	<key>tabviewFrameworkDelay</key>
	<string>queryAlongWork</string>
</dict>
</plist>
