<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>graphicExceptStyle</key>
	<string>handlerWithoutCycle</string>
	<key>invisibleRepositoryPressure</key>
	<string>optimizerPrototypeLeft</string>
	<key>painterVariableVisibility</key>
	<string>menuCommandInteraction</string>
	<key>previewIncludePattern</key>
	<string>delegateAndSingleton</string>
</dict>
</plist>
