<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorJobSpacing</key>
	<string>futureDuringVisitor</string>
	<key>alphaProxySpacing</key>
	<string>activeScrollVelocity</string>
	<key>concurrentAspectSkewy</key>
	<string>capsuleModeSpeed</string>
	<key>iconPlatformAlignment</key>
	<string>usedAxisTension</string>
	<key>layoutParameterCoord</key>
	<string>diversifiedStoreDuration</string>
	<key>listenerNumberSaturation</key>
	<string>adaptiveResolverPadding</string>
	<key>sceneThanTemple</key>
	<string>semanticTechniqueSaturation</string>
	<key>usedFutureContrast</key>
	<string>cubitAmongBuffer</string>
</dict>
</plist>
