<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptionAwayPattern</key>
	<string>globalRadiusKind</string>
	<key>mapStateLocation</key>
	<string>reactiveMarginTop</string>
	<key>tabbarInsideFramework</key>
	<string>metadataIncludePrototype</string>
	<key>tappableBaseDelay</key>
	<string>protectedHandlerName</string>
	<key>titlePerCycle</key>
	<string>techniqueStructureVisibility</string>
	<key>unactivatedCardSaturation</key>
	<string>effectAdapterPressure</string>
</dict>
</plist>
