<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncVersusVariable</key>
	<string>localizationPrototypeVisible</string>
	<key>baseAroundDecorator</key>
	<string>symmetricActionRotation</string>
	<key>compositionalStreamSpeed</key>
	<string>mediaTaskScale</string>
	<key>documentAtInterpreter</key>
	<string>paddingAroundMode</string>
	<key>interactorProcessLocation</key>
	<string>aspectAsBuffer</string>
	<key>nextTangentTint</key>
	<string>interactiveEventAlignment</string>
	<key>rapidGroupPressure</key>
	<string>singletonForPrototype</string>
	<key>tangentPrototypeFormat</key>
	<string>multiGroupState</string>
	<key>visiblePresenterLocation</key>
	<string>inkwellAboutPattern</string>
	<key>widgetActivityBound</key>
	<string>fixedNavigatorMomentum</string>
</dict>
</plist>
