<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorLikeContext</key>
	<string>durationBufferTint</string>
	<key>handlerAmongPattern</key>
	<string>musicAboutInterpreter</string>
	<key>offsetShapeSkewy</key>
	<string>groupAndTask</string>
</dict>
</plist>
