<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionPreviewDirection</key>
	<string>tweenThanFlyweight</string>
	<key>awaitBufferBorder</key>
	<string>interactorWithoutFunction</string>
	<key>baselineScopeSpeed</key>
	<string>geometricDurationAppearance</string>
	<key>decorationSystemSaturation</key>
	<string>symbolAroundStrategy</string>
	<key>explicitControllerMomentum</key>
	<string>crucialDecorationMargin</string>
	<key>grayscaleJobVisibility</key>
	<string>tensorTextPadding</string>
	<key>loopCycleForce</key>
	<string>workflowContainType</string>
	<key>protectedAllocatorTail</key>
	<string>concurrentNodeMode</string>
	<key>seamlessScaleMomentum</key>
	<string>instructionLikeProxy</string>
	<key>visibleResourceDelay</key>
	<string>featureOutsideVar</string>
</dict>
</plist>
