<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitWithoutFramework</key>
	<string>columnAboutAction</string>
	<key>entityAsAction</key>
	<string>liteHashOffset</string>
	<key>eventOutsideSingleton</key>
	<string>hyperbolicDecorationKind</string>
	<key>heroAroundTemple</key>
	<string>queryBufferOrigin</string>
	<key>ignoredIndicatorLocation</key>
	<string>routeUntilOperation</string>
	<key>multiplicationAndValue</key>
	<string>factoryStructureBound</string>
	<key>serviceFrameworkPadding</key>
	<string>transitionFlyweightCenter</string>
	<key>sizedboxPerStyle</key>
	<string>injectionObserverAppearance</string>
	<key>tappableGrainTension</key>
	<string>dynamicInstructionFeedback</string>
	<key>tappableObserverVisible</key>
	<string>largeWorkflowColor</string>
</dict>
</plist>
