<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentOutsideDecorator</key>
	<string>statelessUntilStage</string>
	<key>chartWithParameter</key>
	<string>swiftAwayMode</string>
	<key>containerMementoVelocity</key>
	<string>cartesianSingletonTension</string>
	<key>discardedProtocolFlags</key>
	<string>clipperTypeFlags</string>
	<key>expandedInsideCycle</key>
	<string>smallCardMomentum</string>
	<key>kernelMementoRate</key>
	<string>transitionByShape</string>
	<key>metadataForProcess</key>
	<string>localOperationTint</string>
	<key>modalNumberShade</key>
	<string>exceptionPhaseFormat</string>
	<key>nextGraphHead</key>
	<string>crudeTransformerTheme</string>
	<key>utilEnvironmentHue</key>
	<string>durationEnvironmentFlags</string>
</dict>
</plist>
