<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>menuFacadeTop</key>
	<string>exceptionLevelSize</string>
	<key>mobileInsideWork</key>
	<string>dynamicInterfaceRotation</string>
	<key>navigatorEnvironmentOffset</key>
	<string>rapidCursorOrigin</string>
	<key>permissiveProviderType</key>
	<string>builderAboutWork</string>
	<key>screenOutsideJob</key>
	<string>statelessOperationContrast</string>
</dict>
</plist>
