<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasAlongNumber</key>
	<string>rectBesideProcess</string>
	<key>capacitiesIncludeStructure</key>
	<string>menuThroughSystem</string>
	<key>providerWithState</key>
	<string>catalystParamState</string>
	<key>resourceIncludeFacade</key>
	<string>documentFromPhase</string>
	<key>sequentialGroupTheme</key>
	<string>decorationCompositeTail</string>
	<key>unsortedBufferTop</key>
	<string>interactorOutsideTier</string>
</dict>
</plist>
