<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterStructureTop</key>
	<string>immediateLayerOpacity</string>
	<key>consultativeTabbarOffset</key>
	<string>scaffoldCycleTension</string>
	<key>discardedDecorationMode</key>
	<string>resultMethodDistance</string>
	<key>drawerActionStatus</key>
	<string>relationalMomentumOffset</string>
	<key>drawerAdapterBehavior</key>
	<string>cubitLayerMode</string>
	<key>immediateCubitState</key>
	<string>callbackMethodDirection</string>
	<key>integerPlatformTension</key>
	<string>vectorSystemDelay</string>
	<key>notificationOfBridge</key>
	<string>convolutionPerCommand</string>
	<key>priorityMethodFrequency</key>
	<string>convolutionAroundProxy</string>
</dict>
</plist>
