<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>easyCapsuleState</key>
	<string>stateSingletonDelay</string>
	<key>enabledCurveCount</key>
	<string>positionOrTemple</string>
	<key>pivotalModalVisible</key>
	<string>interactorAndMode</string>
	<key>riverpodAboutBuffer</key>
	<string>symbolBeyondMediator</string>
	<key>sortedTextTransparency</key>
	<string>errorMethodVisible</string>
	<key>tableInShape</key>
	<string>bulletVisitorFeedback</string>
	<key>visibleRowTension</key>
	<string>oldCursorInteraction</string>
</dict>
</plist>
