<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetByStrategy</key>
	<string>integerVersusVar</string>
	<key>borderWithoutStrategy</key>
	<string>animatedGesturedetectorTail</string>
	<key>cubeAboutMode</key>
	<string>coordinatorMethodMargin</string>
	<key>curveStructureState</key>
	<string>normalModelHue</string>
	<key>localizationObserverVisible</key>
	<string>nodeInterpreterVisibility</string>
	<key>logLayerIndex</key>
	<string>delicateRequestStatus</string>
	<key>menuProcessDelay</key>
	<string>mediaqueryBeyondJob</string>
</dict>
</plist>
