<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderObserverFeedback</key>
	<string>brushDuringVisitor</string>
	<key>fragmentAndActivity</key>
	<string>sliderThroughTemple</string>
	<key>handlerEnvironmentCenter</key>
	<string>queryPlatformSkewy</string>
	<key>monsterBeyondTier</key>
	<string>threadLikeSystem</string>
	<key>profileForVisitor</key>
	<string>fragmentScopeOrigin</string>
</dict>
</plist>
