<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalSubscriptionRight</key>
	<string>sinkForEnvironment</string>
	<key>imageNearPlatform</key>
	<string>masterFacadeCount</string>
	<key>layerAsStage</key>
	<string>originalPositionForce</string>
	<key>presenterVariableFeedback</key>
	<string>textfieldDespiteFunction</string>
	<key>queueWithChain</key>
	<string>effectAsVar</string>
	<key>resolverViaProxy</key>
	<string>resizableBuilderIndex</string>
	<key>serviceEnvironmentCount</key>
	<string>stateFlyweightMargin</string>
	<key>specifyScaffoldSize</key>
	<string>statefulLabelDepth</string>
	<key>taskModeHead</key>
	<string>animatedLogarithmVisible</string>
</dict>
</plist>
