<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionSingletonVisible</key>
	<string>scrollableHandlerFeedback</string>
	<key>currentHashLeft</key>
	<string>arithmeticSemanticsMomentum</string>
	<key>decorationIncludePlatform</key>
	<string>deferredObserverState</string>
	<key>navigatorPrototypeShade</key>
	<string>columnOutsideWork</string>
	<key>normThroughLayer</key>
	<string>ephemeralCoordinatorHue</string>
	<key>observerAgainstLevel</key>
	<string>methodContainStrategy</string>
	<key>otherSubscriptionType</key>
	<string>effectDuringWork</string>
</dict>
</plist>
