<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayableFlexSaturation</key>
	<string>blocBySingleton</string>
	<key>hierarchicalAlignmentHue</key>
	<string>buttonOfVisitor</string>
	<key>logPrototypeSpeed</key>
	<string>resourceTypeFeedback</string>
	<key>multiViewSize</key>
	<string>symbolPlatformLeft</string>
	<key>queryProxyCoord</key>
	<string>providerOfNumber</string>
	<key>variantOutsideFacade</key>
	<string>cubeContainPlatform</string>
	<key>visibleDecorationOrientation</key>
	<string>brushThroughVariable</string>
</dict>
</plist>
