<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintViaKind</key>
	<string>tappableInterfaceOffset</string>
	<key>granularProviderFeedback</key>
	<string>tabviewThanNumber</string>
	<key>listenerIncludeKind</key>
	<string>inkwellActionRotation</string>
	<key>missedResponseKind</key>
	<string>intermediateAnimationDirection</string>
	<key>monsterFromValue</key>
	<string>autoStorageOrigin</string>
	<key>normalCapsuleStatus</key>
	<string>ternaryLayerPadding</string>
	<key>resultContainBridge</key>
	<string>gridStageFrequency</string>
</dict>
</plist>
