<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cacheTempleBound</key>
	<string>aspectratioPerJob</string>
	<key>customProfileSkewy</key>
	<string>transformerDecoratorShade</string>
	<key>ignoredSignatureTag</key>
	<string>responseContainComposite</string>
	<key>immediateRouterHead</key>
	<string>decorationViaBridge</string>
	<key>positionContainType</key>
	<string>requestTypeBehavior</string>
</dict>
</plist>
