<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleDuringKind</key>
	<string>agileFeaturePadding</string>
	<key>captionStyleEdge</key>
	<string>mapPatternMode</string>
	<key>firstBufferAlignment</key>
	<string>directTransitionVisibility</string>
	<key>loopAmongParam</key>
	<string>loopLikeCycle</string>
	<key>masterAroundJob</key>
	<string>respectiveHeroSize</string>
	<key>observerMediatorOffset</key>
	<string>resizableFragmentScale</string>
	<key>resizableTransitionScale</key>
	<string>controllerWithInterpreter</string>
</dict>
</plist>
