<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorBesidePrototype</key>
	<string>errorFrameworkTag</string>
	<key>asyncIntensityDirection</key>
	<string>semanticMasterPressure</string>
	<key>bufferAsMode</key>
	<string>interactorTempleKind</string>
	<key>criticalSizedboxHead</key>
	<string>firstHeapTransparency</string>
	<key>diversifiedRouterCount</key>
	<string>independentProjectOpacity</string>
	<key>getxAgainstParameter</key>
	<string>grainOperationContrast</string>
	<key>hashInObserver</key>
	<string>musicActionOrientation</string>
	<key>immutableSignDistance</key>
	<string>offsetDespiteParameter</string>
</dict>
</plist>
