<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeLocalizationPressure</key>
	<string>scaleThroughProxy</string>
	<key>capsuleProxySize</key>
	<string>frameChainInteraction</string>
	<key>getxContainContext</key>
	<string>positionByOperation</string>
	<key>resolverForValue</key>
	<string>nativeSizedboxSaturation</string>
	<key>sharedStorageAcceleration</key>
	<string>constraintDecoratorDirection</string>
	<key>taskSystemTag</key>
	<string>instructionMethodPosition</string>
	<key>widgetOfVar</key>
	<string>capacitiesParamScale</string>
</dict>
</plist>
