<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandParameterTop</key>
	<string>subtleSignatureDensity</string>
	<key>descriptionDecoratorBrightness</key>
	<string>injectionDespiteBridge</string>
	<key>handlerEnvironmentSaturation</key>
	<string>lastQueryTheme</string>
	<key>imperativeDrawerRight</key>
	<string>techniqueBesideLevel</string>
	<key>permanentLayerTag</key>
	<string>uniformPreviewTag</string>
	<key>persistentPointOffset</key>
	<string>desktopOptionMomentum</string>
	<key>requestOutsideLayer</key>
	<string>numericalLossInset</string>
</dict>
</plist>
