<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>globalContractionPadding</key>
	<string>associatedAnimationState</string>
	<key>graphicProcessDirection</key>
	<string>textBridgeFormat</string>
	<key>offsetInsideContext</key>
	<string>assetShapeStatus</string>
	<key>profileIncludeInterpreter</key>
	<string>loopUntilShape</string>
	<key>referenceIncludeStructure</key>
	<string>staticPaddingResponse</string>
	<key>threadWithProxy</key>
	<string>buttonContextLocation</string>
	<key>utilLevelInteraction</key>
	<string>richtextLikeMediator</string>
</dict>
</plist>
