<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateSystemDepth</key>
	<string>custompaintFrameworkStyle</string>
	<key>diffableReferenceInset</key>
	<string>painterNearCycle</string>
	<key>inactiveAnimationOrigin</key>
	<string>cosineByWork</string>
	<key>intensityContextAlignment</key>
	<string>containerBeyondValue</string>
	<key>navigatorChainSpacing</key>
	<string>cubitDespiteKind</string>
	<key>richtextContainFramework</key>
	<string>gemAlongBridge</string>
	<key>specifyEventRate</key>
	<string>tabviewStrategyTint</string>
	<key>zoneLayerInset</key>
	<string>subscriptionFrameworkResponse</string>
</dict>
</plist>
