<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateAndType</key>
	<string>significantStepKind</string>
	<key>getxTaskColor</key>
	<string>hashPlatformValidation</string>
	<key>overlayShapeDepth</key>
	<string>getxOperationBottom</string>
</dict>
</plist>
