<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedResponsePressure</key>
	<string>customViewTransparency</string>
	<key>allocatorTypeType</key>
	<string>textPatternMargin</string>
	<key>contractionSinceValue</key>
	<string>easyTitleRate</string>
	<key>currentBrushTail</key>
	<string>taskWorkRight</string>
	<key>granularAnimationPadding</key>
	<string>exponentExceptWork</string>
	<key>usecaseWorkDuration</key>
	<string>referenceWithVisitor</string>
</dict>
</plist>
