<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityAsPhase</key>
	<string>slashTempleDensity</string>
	<key>errorBesideInterpreter</key>
	<string>compositionalProtocolColor</string>
	<key>labelAndFacade</key>
	<string>durationBesideShape</string>
	<key>titleOfCommand</key>
	<string>stackInsideVisitor</string>
</dict>
</plist>
