<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicChartTop</key>
	<string>stampLevelScale</string>
	<key>compositionSingletonTint</key>
	<string>cosineExceptVisitor</string>
	<key>coordinatorObserverDelay</key>
	<string>appbarValueFlags</string>
	<key>missedImageBehavior</key>
	<string>pinchableDelegateDensity</string>
	<key>optimizerStageInterval</key>
	<string>chapterObserverBottom</string>
	<key>significantGesturedetectorAppearance</key>
	<string>difficultAnimationOpacity</string>
</dict>
</plist>
