<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columnParamDistance</key>
	<string>newestDelegateAlignment</string>
	<key>extensionForState</key>
	<string>imperativeInjectionLocation</string>
	<key>sessionInsideStage</key>
	<string>streamAboutTemple</string>
	<key>singleCurveScale</key>
	<string>featureFrameworkInset</string>
	<key>vectorInsideMemento</key>
	<string>activityOfProxy</string>
</dict>
</plist>
