<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelAsWork</key>
	<string>signatureForParam</string>
	<key>cupertinoVariableMode</key>
	<string>requiredBrushScale</string>
	<key>equipmentLikeCommand</key>
	<string>requestOfPrototype</string>
	<key>localizationForContext</key>
	<string>lazyGateMargin</string>
	<key>mainScaleTop</key>
	<string>scrollOperationEdge</string>
	<key>permanentSizedboxRotation</key>
	<string>kernelProxyOpacity</string>
	<key>prevStorageRotation</key>
	<string>builderScopeStyle</string>
	<key>providerStrategyRight</key>
	<string>gridInsideFlyweight</string>
	<key>themeScopeTension</key>
	<string>storyboardLevelShape</string>
</dict>
</plist>
