<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerSingletonScale</key>
	<string>offsetOperationTheme</string>
	<key>intuitiveParticleEdge</key>
	<string>nibShapeLeft</string>
	<key>metadataBridgeSaturation</key>
	<string>metadataCompositeOffset</string>
	<key>nativeDurationMomentum</key>
	<string>significantButtonPadding</string>
	<key>storeIncludeObserver</key>
	<string>offsetFrameworkVisible</string>
	<key>unsortedRectRate</key>
	<string>autoGradientBorder</string>
</dict>
</plist>
