<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonFlexTag</key>
	<string>comprehensiveDropdownbuttonPosition</string>
	<key>convolutionCommandLeft</key>
	<string>textfieldWithVariable</string>
	<key>customizedNavigatorState</key>
	<string>constraintStyleKind</string>
	<key>granularCoordinatorShape</key>
	<string>skirtPrototypeVisibility</string>
</dict>
</plist>
