<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>discardedPriorityDuration</key>
	<string>isolateWithOperation</string>
	<key>mediumObserverMode</key>
	<string>hierarchicalPresenterScale</string>
	<key>pivotalMobilePosition</key>
	<string>characterStrategyAppearance</string>
	<key>resilientSensorBorder</key>
	<string>masterSinceParam</string>
	<key>responsiveActivityVisible</key>
	<string>routeKindValidation</string>
	<key>rowNearJob</key>
	<string>layoutAgainstType</string>
	<key>sequentialThreadInterval</key>
	<string>navigatorCompositeAppearance</string>
	<key>sharedDescriptionVisible</key>
	<string>menuActionLeft</string>
	<key>subscriptionThroughBridge</key>
	<string>consultativeCoordinatorPressure</string>
</dict>
</plist>
