<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedTweenType</key>
	<string>resourceAboutPhase</string>
	<key>animatedcontainerThanDecorator</key>
	<string>tickerLikeParameter</string>
	<key>animationActionBottom</key>
	<string>profileAroundSingleton</string>
	<key>granularOffsetStatus</key>
	<string>themeScopeSpacing</string>
	<key>mediumLabelTransparency</key>
	<string>labelInsideMode</string>
	<key>semanticTimerMode</key>
	<string>curvePatternAcceleration</string>
	<key>skirtMethodSpacing</key>
	<string>greatCapsuleSpeed</string>
</dict>
</plist>
