<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>modelBridgeRight</key>
	<string>basicWidgetInset</string>
	<key>plateChainPosition</key>
	<string>certificateVarTheme</string>
	<key>presenterVisitorSkewy</key>
	<string>fragmentDespitePlatform</string>
	<key>sliderEnvironmentSpacing</key>
	<string>sharedSwitchVelocity</string>
	<key>swiftIncludeNumber</key>
	<string>errorObserverVisible</string>
</dict>
</plist>
