<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleTitleEdge</key>
	<string>usedDurationTension</string>
	<key>frameUntilTask</key>
	<string>priorNodeShade</string>
	<key>injectionWithoutShape</key>
	<string>routerAmongObserver</string>
	<key>intensityAgainstMemento</key>
	<string>curveThanNumber</string>
	<key>methodCompositeTag</key>
	<string>mobxAroundFunction</string>
	<key>promiseStageBorder</key>
	<string>stateExceptEnvironment</string>
	<key>serviceExceptOperation</key>
	<string>sliderBeyondCycle</string>
	<key>smartOperationName</key>
	<string>pinchableSubpixelForce</string>
	<key>tensorGramFlags</key>
	<string>mainSpecifierTail</string>
	<key>typicalHeapMomentum</key>
	<string>workflowBySystem</string>
</dict>
</plist>
