<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentTableBrightness</key>
	<string>baseStructureContrast</string>
	<key>cycleAboutMode</key>
	<string>axisSinceLayer</string>
	<key>respectiveInjectionSize</key>
	<string>alignmentCycleSpeed</string>
	<key>samplePrototypeBorder</key>
	<string>dropdownbuttonOrCycle</string>
	<key>serviceSystemPosition</key>
	<string>diffableSpecifierBehavior</string>
</dict>
</plist>
