<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncLikeBuffer</key>
	<string>aspectratioWithoutTask</string>
	<key>controllerFormColor</key>
	<string>methodStructureState</string>
	<key>criticalSpotMomentum</key>
	<string>sharedMetadataBrightness</string>
	<key>opaqueListenerFlags</key>
	<string>publicSpotScale</string>
	<key>reducerTempleCenter</key>
	<string>equipmentParameterName</string>
	<key>tweenPhaseLocation</key>
	<string>interactiveTopicResponse</string>
</dict>
</plist>
