<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchVisitorShape</key>
	<string>easyMasterTop</string>
	<key>cupertinoGraphicBound</key>
	<string>rowPhaseForce</string>
	<key>cycleOrTask</key>
	<string>controllerBeyondTemple</string>
	<key>observerParamKind</key>
	<string>challengeAwayParameter</string>
	<key>protectedGateSaturation</key>
	<string>resultNumberSaturation</string>
	<key>usecaseAndVisitor</key>
	<string>hashStrategyTail</string>
</dict>
</plist>
