<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionWorkResponse</key>
	<string>containerModeFormat</string>
	<key>cubitPlatformTheme</key>
	<string>tickerExceptMemento</string>
	<key>flexibleAxisTop</key>
	<string>viewProxyEdge</string>
	<key>handlerEnvironmentPadding</key>
	<string>grayscaleBesideBuffer</string>
	<key>statelessOperationBrightness</key>
	<string>toolStructureRate</string>
	<key>transformerWithoutTemple</key>
	<string>significantRowOpacity</string>
	<key>vectorFromProxy</key>
	<string>relationalAnchorEdge</string>
</dict>
</plist>
