<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationCompositeHue</key>
	<string>shaderKindSize</string>
	<key>configurationPerPrototype</key>
	<string>nativeModalVisible</string>
	<key>methodPhaseOpacity</key>
	<string>materialOrTemple</string>
	<key>newestSliderSpacing</key>
	<string>methodAndPlatform</string>
	<key>resultOperationFlags</key>
	<string>completerStrategyDirection</string>
	<key>streamModeSize</key>
	<string>accessoryOperationTop</string>
</dict>
</plist>
