<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryInsideProxy</key>
	<string>curveAndMode</string>
	<key>consultativeCacheBound</key>
	<string>cubitOfMemento</string>
	<key>crudeMaterialDensity</key>
	<string>radiusVisitorBottom</string>
	<key>disabledErrorBound</key>
	<string>skinOutsideSingleton</string>
	<key>lastConstraintInteraction</key>
	<string>typicalReducerDuration</string>
	<key>permissiveGridviewTag</key>
	<string>listviewVariableTension</string>
	<key>variantFromTier</key>
	<string>segueDecoratorDistance</string>
	<key>viewOfEnvironment</key>
	<string>matrixFromEnvironment</string>
</dict>
</plist>
