<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileResponseIndex</key>
	<string>loopByStyle</string>
	<key>axisAboutParam</key>
	<string>blocByActivity</string>
	<key>bulletLayerBehavior</key>
	<string>checklistParamSkewy</string>
	<key>decorationStateSaturation</key>
	<string>titleTaskOrientation</string>
	<key>exceptionFromSingleton</key>
	<string>animatedIntensityRate</string>
	<key>gestureUntilVisitor</key>
	<string>difficultTangentPressure</string>
	<key>largeSubpixelPosition</key>
	<string>fusedPageviewKind</string>
	<key>resultIncludeSingleton</key>
	<string>positionShapeContrast</string>
</dict>
</plist>
