<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioScopeTag</key>
	<string>groupAgainstInterpreter</string>
	<key>decorationStageOpacity</key>
	<string>bufferPrototypeContrast</string>
	<key>ephemeralOffsetVelocity</key>
	<string>pivotalDecorationTransparency</string>
	<key>giftMediatorScale</key>
	<string>completerShapeVisibility</string>
	<key>scrollInKind</key>
	<string>bufferByForm</string>
	<key>visibleServiceDistance</key>
	<string>viewInterpreterTop</string>
</dict>
</plist>
