<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>liteHistogramHue</key>
	<string>grayscaleVarDelay</string>
	<key>nodeAgainstTask</key>
	<string>captionActionAppearance</string>
	<key>oldObserverSaturation</key>
	<string>asyncFromPhase</string>
	<key>specifyEventMargin</key>
	<string>integerBeyondAdapter</string>
</dict>
</plist>
