<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completionNearDecorator</key>
	<string>toolDespiteBridge</string>
	<key>controllerIncludeAdapter</key>
	<string>textureParameterOpacity</string>
	<key>delegateFacadeKind</key>
	<string>prismaticReductionKind</string>
	<key>discardedButtonCoord</key>
	<string>intuitiveCapsuleMomentum</string>
	<key>geometricSliderTint</key>
	<string>nodeLikeDecorator</string>
	<key>groupAboutValue</key>
	<string>arithmeticTechniqueTag</string>
	<key>radiusTierForce</key>
	<string>graphicAgainstTier</string>
	<key>spineProxyBehavior</key>
	<string>kernelProxyType</string>
</dict>
</plist>
