<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticActivityAppearance</key>
	<string>usageInWork</string>
	<key>cellWorkDuration</key>
	<string>popupVariableDepth</string>
	<key>prismaticAssetTransparency</key>
	<string>materialInterfaceCenter</string>
	<key>reducerAtType</key>
	<string>liteStateCenter</string>
</dict>
</plist>
