<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellVisitorOffset</key>
	<string>geometricSubscriptionAlignment</string>
	<key>constFutureFlags</key>
	<string>inkwellAboutSystem</string>
	<key>disabledBlocDepth</key>
	<string>uniformDropdownbuttonOrientation</string>
	<key>flexibleChapterTint</key>
	<string>elasticRadiusFlags</string>
	<key>gradientNearTemple</key>
	<string>titleScopeInteraction</string>
	<key>iterativeGraphAcceleration</key>
	<string>deferredMonsterColor</string>
	<key>layoutSystemOpacity</key>
	<string>viewVariableFrequency</string>
	<key>topicLevelSpeed</key>
	<string>pinchableTransitionPadding</string>
</dict>
</plist>
