<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedBufferOrientation</key>
	<string>delegateStructureStatus</string>
	<key>hashPhaseTail</key>
	<string>declarativeRadiusOpacity</string>
	<key>histogramFacadeDelay</key>
	<string>dropdownbuttonOrPrototype</string>
	<key>inheritedRectLocation</key>
	<string>alphaOfFramework</string>
	<key>movementNearForm</key>
	<string>semanticResourceAlignment</string>
	<key>responseSinceNumber</key>
	<string>singletonContextStyle</string>
	<key>seamlessPopupRight</key>
	<string>pinchableDurationLocation</string>
	<key>storeViaScope</key>
	<string>lastActionInset</string>
	<key>topicThanStructure</key>
	<string>masterJobRate</string>
	<key>tweenBufferPosition</key>
	<string>intermediateRadiusTag</string>
</dict>
</plist>
