<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchMethodSpacing</key>
	<string>titleCommandVisible</string>
	<key>certificateMethodSpacing</key>
	<string>cellVersusPrototype</string>
	<key>consumerCompositeResponse</key>
	<string>dialogsFacadeFormat</string>
	<key>exceptionWithoutPlatform</key>
	<string>directReferenceLocation</string>
	<key>firstCursorFrequency</key>
	<string>concurrentModelScale</string>
	<key>permissiveOffsetContrast</key>
	<string>localizationTypeDistance</string>
	<key>streamOutsideShape</key>
	<string>canvasLikePattern</string>
</dict>
</plist>
