<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mediocreBuilderRight</key>
	<string>radiusJobFeedback</string>
	<key>pinchablePresenterFlags</key>
	<string>awaitAroundSingleton</string>
	<key>projectionStateSpacing</key>
	<string>durationSinceVar</string>
	<key>resilientCapsuleFlags</key>
	<string>vectorInterpreterSaturation</string>
	<key>subpixelVersusAdapter</key>
	<string>heroPerProxy</string>
	<key>temporarySineBrightness</key>
	<string>operationWithoutVar</string>
	<key>textOutsideActivity</key>
	<string>subtlePresenterCoord</string>
	<key>textSinceValue</key>
	<string>challengeBufferTag</string>
	<key>webHashCenter</key>
	<string>agileBaseAlignment</string>
</dict>
</plist>
