<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionNumberDistance</key>
	<string>intensityAndLayer</string>
	<key>appbarOfOperation</key>
	<string>transformerAlongTask</string>
	<key>baselineAtWork</key>
	<string>diversifiedProviderOrientation</string>
	<key>logContextEdge</key>
	<string>cupertinoTopicDistance</string>
	<key>sinkAlongFunction</key>
	<string>unactivatedCubitFlags</string>
</dict>
</plist>
