<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisAlongPattern</key>
	<string>staticMobxPadding</string>
	<key>enabledBlocTheme</key>
	<string>primaryModalPosition</string>
	<key>flexibleTitleDensity</key>
	<string>handlerLikeTask</string>
	<key>globalMaterialTheme</key>
	<string>sensorSinceProxy</string>
	<key>previewAwayLevel</key>
	<string>rapidSliderMargin</string>
	<key>singleTweenVelocity</key>
	<string>similarAsyncBottom</string>
	<key>sliderParamDensity</key>
	<string>normWorkResponse</string>
</dict>
</plist>
