<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>particleAndFacade</key>
	<string>tickerDespiteParam</string>
	<key>resolverTierAlignment</key>
	<string>dropdownbuttonPerFlyweight</string>
	<key>robustConstraintTag</key>
	<string>chapterContextOrigin</string>
	<key>smartDialogsBehavior</key>
	<string>cacheWorkShape</string>
	<key>spriteInWork</key>
	<string>futureFromChain</string>
	<key>streamTierForce</key>
	<string>crudeSampleCenter</string>
</dict>
</plist>
