<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateParamType</key>
	<string>sceneNumberFlags</string>
	<key>modelBesideMethod</key>
	<string>cubitOutsideParameter</string>
	<key>musicTaskScale</key>
	<string>fixedLabelVisible</string>
	<key>navigatorStrategyFeedback</key>
	<string>arithmeticIndicatorVelocity</string>
	<key>otherInterpolationOffset</key>
	<string>singleMobxBehavior</string>
	<key>popupMementoCenter</key>
	<string>exponentBeyondStructure</string>
	<key>sceneEnvironmentOrientation</key>
	<string>hyperbolicEventLocation</string>
	<key>staticLoopContrast</key>
	<string>mapVersusScope</string>
</dict>
</plist>
