<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioAndPlatform</key>
	<string>offsetParameterName</string>
	<key>channelByBuffer</key>
	<string>activatedRectOrigin</string>
	<key>characterFlyweightTension</key>
	<string>reusableInkwellFeedback</string>
	<key>coordinatorPerVar</key>
	<string>controllerAlongAction</string>
	<key>entityJobRight</key>
	<string>mobxOrValue</string>
	<key>imageFacadeName</key>
	<string>flexibleFragmentBottom</string>
	<key>pointOrMemento</key>
	<string>directlyDurationMode</string>
	<key>shaderParameterLocation</key>
	<string>flexParamCenter</string>
</dict>
</plist>
