<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoConfigurationSkewy</key>
	<string>coordinatorObserverShape</string>
	<key>profileOutsideState</key>
	<string>asyncVersusNumber</string>
	<key>sessionStrategyDistance</key>
	<string>animatedTextureInteraction</string>
	<key>typicalBuilderCoord</key>
	<string>unsortedPainterBrightness</string>
</dict>
</plist>
