<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationVersusPrototype</key>
	<string>constTextfieldDuration</string>
	<key>gestureFlyweightInteraction</key>
	<string>actionFormOffset</string>
	<key>layoutThanParameter</key>
	<string>scaffoldViaState</string>
	<key>sizedboxAlongCycle</key>
	<string>behaviorStageTint</string>
	<key>spineVersusFlyweight</key>
	<string>rapidControllerSaturation</string>
</dict>
</plist>
