<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationAsPattern</key>
	<string>isolatePrototypeRate</string>
	<key>cycleThanNumber</key>
	<string>accessibleSizeFlags</string>
	<key>interfaceAtTemple</key>
	<string>primaryMovementFlags</string>
	<key>permissiveSinkCoord</key>
	<string>originalOffsetDistance</string>
	<key>radiusPerFramework</key>
	<string>nodeOrPhase</string>
	<key>reducerOutsideActivity</key>
	<string>heapNearLevel</string>
	<key>subsequentCoordinatorDelay</key>
	<string>nodeDecoratorBottom</string>
	<key>touchFlyweightTail</key>
	<string>functionalChallengeBorder</string>
</dict>
</plist>
