<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteHashRotation</key>
	<string>localizationIncludeScope</string>
	<key>oldAxisAppearance</key>
	<string>invisibleCommandFeedback</string>
	<key>publicNodeMargin</key>
	<string>timerSinceBridge</string>
</dict>
</plist>
