<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureThroughMemento</key>
	<string>layoutPerForm</string>
	<key>elasticBitrateShape</key>
	<string>plateBeyondPhase</string>
	<key>positionedWithoutComposite</key>
	<string>challengeWorkCount</string>
	<key>sequentialSpriteResponse</key>
	<string>rowMediatorPressure</string>
	<key>signInterpreterBound</key>
	<string>tensorTouchTension</string>
	<key>spriteWithCommand</key>
	<string>bufferCommandVelocity</string>
</dict>
</plist>
