<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frameAlongKind</key>
	<string>robustGraphicCoord</string>
	<key>lossKindTheme</key>
	<string>prismaticBatchOrientation</string>
	<key>modelIncludeStyle</key>
	<string>animationDuringStructure</string>
	<key>spotBufferTint</key>
	<string>metadataFromNumber</string>
	<key>threadWithoutPhase</key>
	<string>textFacadeRight</string>
</dict>
</plist>
