<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectNearParam</key>
	<string>dimensionIncludeParameter</string>
	<key>completerWithoutScope</key>
	<string>zoneAwayFlyweight</string>
	<key>cupertinoInterpreterDistance</key>
	<string>activatedModalDensity</string>
	<key>modelOfTier</key>
	<string>labelMediatorVisible</string>
</dict>
</plist>
