<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocAtVariable</key>
	<string>pivotalGraphType</string>
	<key>documentScopeStatus</key>
	<string>chapterUntilWork</string>
	<key>factoryDespiteProxy</key>
	<string>assetCompositeVisibility</string>
	<key>modulusDespiteObserver</key>
	<string>protectedPreviewOrientation</string>
	<key>publicCursorSpacing</key>
	<string>statefulLikePhase</string>
	<key>significantAnimationScale</key>
	<string>decorationShapeInteraction</string>
</dict>
</plist>
