<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>effectDecoratorDirection</key>
	<string>otherStampStyle</string>
	<key>entropyTierInterval</key>
	<string>popupShapeValidation</string>
	<key>previewByType</key>
	<string>basicBitrateSkewx</string>
	<key>primaryIconMargin</key>
	<string>deferredTextBottom</string>
	<key>radioThroughDecorator</key>
	<string>transitionObserverHue</string>
	<key>reducerContainMemento</key>
	<string>customSubpixelDelay</string>
	<key>resultSingletonHead</key>
	<string>brushOutsideForm</string>
	<key>taskSinceLayer</key>
	<string>tensorTabviewCenter</string>
	<key>typicalRouterOrigin</key>
	<string>offsetFromParam</string>
</dict>
</plist>
