<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eventFlyweightValidation</key>
	<string>lostCompleterSize</string>
	<key>firstFlexSpacing</key>
	<string>mutableAlignmentPosition</string>
	<key>firstPageviewTransparency</key>
	<string>rowFunctionBrightness</string>
	<key>newestCompleterCount</key>
	<string>instructionInsideVisitor</string>
	<key>relationalInterpolationFlags</key>
	<string>decorationInsideFramework</string>
	<key>resourceAlongEnvironment</key>
	<string>gemPatternSkewy</string>
	<key>resourceContainStructure</key>
	<string>scrollableStoryboardTag</string>
	<key>specifyRiverpodTail</key>
	<string>flexCommandAlignment</string>
	<key>streamDespiteStrategy</key>
	<string>awaitJobSaturation</string>
	<key>tweenAgainstFacade</key>
	<string>animationKindState</string>
</dict>
</plist>
