<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintAndKind</key>
	<string>normalPainterInterval</string>
	<key>cupertinoViaMediator</key>
	<string>secondCurveState</string>
	<key>normalSliderResponse</key>
	<string>modelVarOrigin</string>
	<key>resourceAgainstPattern</key>
	<string>subpixelWithStyle</string>
</dict>
</plist>
