<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerChainSkewx</key>
	<string>geometricStackMomentum</string>
	<key>mediaqueryParamSkewy</key>
	<string>localTextfieldSpeed</string>
	<key>oldTextTheme</key>
	<string>progressbarInsideOperation</string>
	<key>plateInterpreterState</key>
	<string>layoutNearJob</string>
	<key>reductionVariableFrequency</key>
	<string>repositoryIncludeSystem</string>
	<key>referenceMethodName</key>
	<string>activityNumberTop</string>
	<key>transitionInterpreterOrientation</key>
	<string>accordionRadiusPadding</string>
	<key>uniqueTweenStatus</key>
	<string>containerUntilCommand</string>
	<key>widgetUntilMemento</key>
	<string>notifierMethodSpeed</string>
	<key>workflowJobLocation</key>
	<string>certificateContainType</string>
</dict>
</plist>
