<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enabledHandlerBorder</key>
	<string>behaviorWithStrategy</string>
	<key>screenAmongEnvironment</key>
	<string>persistentVectorHue</string>
	<key>scrollableTouchSkewy</key>
	<string>musicMethodBrightness</string>
	<key>sizeIncludeChain</key>
	<string>constraintExceptEnvironment</string>
	<key>spriteInStage</key>
	<string>directViewEdge</string>
	<key>threadMethodShape</key>
	<string>sharedCompleterDensity</string>
</dict>
</plist>
