<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionVarMargin</key>
	<string>threadMethodBorder</string>
	<key>alignmentKindCount</key>
	<string>normalVectorInteraction</string>
	<key>bufferByScope</key>
	<string>boxshadowContainPrototype</string>
	<key>builderTaskState</key>
	<string>activatedListenerKind</string>
	<key>frameFromOperation</key>
	<string>canvasVersusForm</string>
	<key>modelShapeInteraction</key>
	<string>toolLikeChain</string>
	<key>otherApertureVisible</key>
	<string>decorationKindDelay</string>
	<key>protectedProviderRight</key>
	<string>providerAdapterAcceleration</string>
	<key>standaloneCoordinatorRotation</key>
	<string>capsuleThroughEnvironment</string>
	<key>storageViaTask</key>
	<string>sophisticatedProfileEdge</string>
</dict>
</plist>
