<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoTaskOrigin</key>
	<string>desktopSingletonIndex</string>
	<key>columnPerProcess</key>
	<string>hyperbolicLossInterval</string>
	<key>geometricRouteInteraction</key>
	<string>declarativeTextSaturation</string>
	<key>reactiveAwaitMargin</key>
	<string>entityStateTop</string>
	<key>repositoryInForm</key>
	<string>significantMemberDepth</string>
	<key>tickerWithoutTask</key>
	<string>diffableDurationRight</string>
	<key>unaryBufferSize</key>
	<string>radioObserverSize</string>
</dict>
</plist>
