<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityNumberDepth</key>
	<string>commandWithoutMediator</string>
	<key>heapInterpreterIndex</key>
	<string>swiftParameterSpeed</string>
	<key>indicatorProcessSkewy</key>
	<string>navigationMediatorKind</string>
</dict>
</plist>
