<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryOfLevel</key>
	<string>prismaticZoneSize</string>
	<key>denseHistogramName</key>
	<string>storeTypeInterval</string>
	<key>graphFromState</key>
	<string>mediumCubitBehavior</string>
	<key>permissiveInkwellHead</key>
	<string>asyncVarSkewx</string>
</dict>
</plist>
