<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>integerDuringComposite</key>
	<string>storageBridgeBottom</string>
	<key>opaqueBorderTheme</key>
	<string>coordinatorViaCycle</string>
	<key>rowBeyondType</key>
	<string>intermediateActionRate</string>
	<key>streamFromJob</key>
	<string>gramSystemForce</string>
	<key>tensorSubscriptionVelocity</key>
	<string>compositionCommandColor</string>
</dict>
</plist>
