<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoRiverpodColor</key>
	<string>dimensionShapeShape</string>
	<key>consumerKindInteraction</key>
	<string>alertTierOpacity</string>
	<key>controllerFacadeRight</key>
	<string>labelTierKind</string>
	<key>dependencyProcessAlignment</key>
	<string>reductionTierFormat</string>
	<key>granularRequestOffset</key>
	<string>geometricLogSaturation</string>
	<key>particleLikeKind</key>
	<string>remainderShapePadding</string>
</dict>
</plist>
