<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintStyleDistance</key>
	<string>significantListenerOrigin</string>
	<key>getxAroundCycle</key>
	<string>notifierWithVar</string>
	<key>responsiveHashInterval</key>
	<string>immediateSubpixelTension</string>
	<key>storageDespiteCycle</key>
	<string>statefulBatchInterval</string>
	<key>transitionParameterSaturation</key>
	<string>reactiveCallbackScale</string>
</dict>
</plist>
