<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritedHeapTop</key>
	<string>explicitMapVisible</string>
	<key>materialMemberBottom</key>
	<string>batchBridgeDepth</string>
	<key>positionedAboutCommand</key>
	<string>enabledTangentResponse</string>
	<key>precisionPlatformOrigin</key>
	<string>notificationInProxy</string>
	<key>referenceVersusScope</key>
	<string>commonSessionSpacing</string>
	<key>subscriptionStateVisibility</key>
	<string>taskTierRight</string>
	<key>tensorStackPadding</key>
	<string>prevTimerRate</string>
	<key>widgetObserverOrigin</key>
	<string>eventBridgeRate</string>
	<key>zonePlatformOffset</key>
	<string>eagerQueryTint</string>
</dict>
</plist>
