<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentStrategyCoord</key>
	<string>concurrentPresenterTension</string>
	<key>dependencyBridgeStatus</key>
	<string>routeParameterDepth</string>
	<key>equalizationActivityHead</key>
	<string>anchorAgainstState</string>
	<key>futureInFramework</key>
	<string>projectionOfTask</string>
	<key>gesturedetectorOperationVelocity</key>
	<string>greatTimerVelocity</string>
	<key>logObserverBorder</key>
	<string>transitionAwayVariable</string>
	<key>respectiveScaleHue</key>
	<string>widgetUntilKind</string>
	<key>serviceDuringEnvironment</key>
	<string>serviceNumberPosition</string>
	<key>zoneDuringAction</key>
	<string>curveOrStyle</string>
</dict>
</plist>
