<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cardWorkRight</key>
	<string>relationalBaselineBehavior</string>
	<key>completerObserverAppearance</key>
	<string>collectionOfStrategy</string>
	<key>directBoxshadowEdge</key>
	<string>usageInterpreterBrightness</string>
	<key>frameInsideNumber</key>
	<string>beginnerAnchorSkewy</string>
	<key>futureVisitorOrigin</key>
	<string>smallAssetFlags</string>
	<key>keyCatalystFrequency</key>
	<string>diversifiedCubeMode</string>
</dict>
</plist>
