<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveSinceProcess</key>
	<string>resizableResolverDistance</string>
	<key>ephemeralBaselineTransparency</key>
	<string>mobileSpotTag</string>
	<key>errorUntilPattern</key>
	<string>concreteCacheOffset</string>
	<key>heapVarTail</key>
	<string>scaleTaskBehavior</string>
	<key>multiplicationPlatformSkewx</key>
	<string>indicatorFromPlatform</string>
	<key>secondLabelCount</key>
	<string>localizationWorkStyle</string>
	<key>stackAgainstSystem</key>
	<string>pageviewNumberSpacing</string>
</dict>
</plist>
