<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionBlocResponse</key>
	<string>heroThanState</string>
	<key>cardExceptMediator</key>
	<string>functionalCaptionRate</string>
	<key>flexibleAnchorValidation</key>
	<string>missionTaskKind</string>
	<key>interpolationAtAdapter</key>
	<string>streamPrototypeAppearance</string>
	<key>keyFeatureStyle</key>
	<string>draggableFutureDepth</string>
	<key>previewWithAction</key>
	<string>dropdownbuttonDespiteFlyweight</string>
	<key>reactiveSceneResponse</key>
	<string>keyRepositoryVisible</string>
</dict>
</plist>
