<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationDecoratorDepth</key>
	<string>secondActivityOrigin</string>
	<key>mobxExceptActivity</key>
	<string>protectedBoxOrientation</string>
	<key>primaryExceptionVisibility</key>
	<string>convolutionIncludeStyle</string>
	<key>radioLevelOffset</key>
	<string>storageBeyondAction</string>
</dict>
</plist>
