<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crudeEquipmentShape</key>
	<string>decorationFunctionOrientation</string>
	<key>extensionValueShade</key>
	<string>factoryUntilTemple</string>
	<key>inactiveScaleRotation</key>
	<string>sensorAroundPattern</string>
	<key>logOrProcess</key>
	<string>liteBrushSaturation</string>
	<key>nativeTransitionTension</key>
	<string>notifierStyleAlignment</string>
	<key>pointBufferShape</key>
	<string>taskDuringCycle</string>
</dict>
</plist>
