<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderChainInterval</key>
	<string>textureVariableInterval</string>
	<key>groupIncludeJob</key>
	<string>intuitiveChartVisible</string>
	<key>permissiveSignatureCenter</key>
	<string>mobileAlphaHue</string>
	<key>progressbarUntilStage</key>
	<string>hashStageDelay</string>
	<key>symmetricPositionedBorder</key>
	<string>equipmentAwayValue</string>
</dict>
</plist>
