<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveScrollContrast</key>
	<string>smartSpecifierSpacing</string>
	<key>disabledAspectTag</key>
	<string>segmentAmongParameter</string>
	<key>effectChainTension</key>
	<string>threadExceptMemento</string>
	<key>isolateLevelFlags</key>
	<string>scrollableTextMargin</string>
	<key>originalDelegatePadding</key>
	<string>effectVisitorContrast</string>
	<key>providerForMemento</key>
	<string>equalizationTempleSize</string>
	<key>storeBufferRate</key>
	<string>coordinatorAboutFlyweight</string>
	<key>switchUntilPrototype</key>
	<string>specifyPaddingFrequency</string>
</dict>
</plist>
