<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerTabbarScale</key>
	<string>cupertinoValueBound</string>
	<key>listenerThanState</key>
	<string>mapAgainstFramework</string>
	<key>sensorWithTier</key>
	<string>controllerWithStructure</string>
</dict>
</plist>
