<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderAwayBridge</key>
	<string>marginShapeTension</string>
	<key>diffableStreamIndex</key>
	<string>paddingInProxy</string>
	<key>elasticPriorityFormat</key>
	<string>entityKindStyle</string>
	<key>injectionBesideContext</key>
	<string>symmetricScaleVisibility</string>
	<key>progressbarMethodScale</key>
	<string>symmetricBufferPadding</string>
	<key>robustFrameResponse</key>
	<string>currentCaptionFormat</string>
	<key>roleWorkBehavior</key>
	<string>errorContainShape</string>
	<key>segmentOutsideMemento</key>
	<string>tensorSceneInteraction</string>
	<key>synchronousCompleterDirection</key>
	<string>aspectratioProcessBehavior</string>
	<key>viewPhaseType</key>
	<string>discardedDrawerBorder</string>
</dict>
</plist>
