<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateNumberColor</key>
	<string>characterLikeLevel</string>
	<key>boxWithShape</key>
	<string>tableSystemTag</string>
	<key>catalystMediatorBehavior</key>
	<string>interactorMethodCenter</string>
	<key>materialDuringBuffer</key>
	<string>nextQueryLeft</string>
	<key>normProcessPosition</key>
	<string>framePhaseMargin</string>
	<key>notifierAboutSystem</key>
	<string>beginnerCycleStatus</string>
	<key>routerIncludeScope</key>
	<string>scaleDuringStage</string>
	<key>sizedboxFromParameter</key>
	<string>gestureTierBound</string>
	<key>subscriptionMethodEdge</key>
	<string>persistentClipperTag</string>
</dict>
</plist>
