<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxObserverTension</key>
	<string>smartEventPosition</string>
	<key>coordinatorOrMemento</key>
	<string>granularLocalizationDuration</string>
	<key>sineAroundActivity</key>
	<string>assetAdapterColor</string>
	<key>transitionAlongStyle</key>
	<string>spriteNumberPressure</string>
	<key>transitionAsStrategy</key>
	<string>associatedSpineMode</string>
	<key>usecaseMediatorVisible</key>
	<string>painterIncludeScope</string>
</dict>
</plist>
