<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardStorageSpacing</key>
	<string>nextHistogramTail</string>
	<key>delicateVectorDistance</key>
	<string>basicMissionInset</string>
	<key>equipmentExceptInterpreter</key>
	<string>primaryStreamTransparency</string>
	<key>hashValueSize</key>
	<string>containerAgainstMode</string>
	<key>projectByFramework</key>
	<string>tangentAmongPlatform</string>
	<key>relationalPrecisionAlignment</key>
	<string>intermediatePopupColor</string>
	<key>sequentialPointDuration</key>
	<string>mediaBridgeOrigin</string>
	<key>unsortedCheckboxSkewx</key>
	<string>binaryTypeMargin</string>
</dict>
</plist>
