<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disabledParticleContrast</key>
	<string>firstApertureLeft</string>
	<key>effectThroughMemento</key>
	<string>constraintLayerState</string>
	<key>flexDespiteVariable</key>
	<string>expandedAroundTier</string>
	<key>futureDuringActivity</key>
	<string>transitionPrototypeSkewx</string>
</dict>
</plist>
