<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>expandedIncludeState</key>
	<string>interpolationLayerTint</string>
	<key>explicitSineSpeed</key>
	<string>prevBulletDuration</string>
	<key>gestureOrChain</key>
	<string>stackBeyondVariable</string>
</dict>
</plist>
