<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directlyObserverCoord</key>
	<string>builderFromPhase</string>
	<key>flexFrameworkRight</key>
	<string>usecaseUntilType</string>
	<key>imageBufferBehavior</key>
	<string>pivotalGridBrightness</string>
	<key>musicPrototypeInteraction</key>
	<string>euclideanResponseTransparency</string>
	<key>rapidInterfaceLocation</key>
	<string>notifierLayerBrightness</string>
</dict>
</plist>
