<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicAspectName</key>
	<string>sinkMementoHead</string>
	<key>exponentParameterEdge</key>
	<string>equalizationStylePosition</string>
	<key>mapSystemFeedback</key>
	<string>transitionLevelEdge</string>
	<key>reusableCharacterRate</key>
	<string>granularAnchorRotation</string>
	<key>sequentialCupertinoAlignment</key>
	<string>boxContainStyle</string>
	<key>spriteParameterRight</key>
	<string>pinchableSubscriptionTop</string>
</dict>
</plist>
