<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryOrVar</key>
	<string>presenterThanFramework</string>
	<key>cartesianRepositorySaturation</key>
	<string>assetMethodSpacing</string>
	<key>checklistOrLayer</key>
	<string>mediaBufferRotation</string>
	<key>curveVarBottom</key>
	<string>coordinatorWithoutFacade</string>
	<key>dimensionPerPhase</key>
	<string>reducerProcessVisibility</string>
	<key>particleStrategySpacing</key>
	<string>positionThanTemple</string>
	<key>scrollableMediaqueryVisible</key>
	<string>resolverCycleTransparency</string>
</dict>
</plist>
