<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubeWithBuffer</key>
	<string>widgetFrameworkBehavior</string>
	<key>explicitDescriptionOffset</key>
	<string>uniqueSubscriptionFeedback</string>
	<key>groupStyleForce</key>
	<string>exponentExceptParam</string>
	<key>labelFormAppearance</key>
	<string>comprehensiveMenuTheme</string>
	<key>oldSceneBound</key>
	<string>memberVarOrigin</string>
	<key>rectOfPhase</key>
	<string>decorationDuringScope</string>
	<key>secondCompletionShade</key>
	<string>consumerAtPrototype</string>
	<key>streamExceptShape</key>
	<string>sequentialCallbackTint</string>
</dict>
</plist>
