<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerCycleShade</key>
	<string>nibInPrototype</string>
	<key>disparateSpineDirection</key>
	<string>documentDespiteVariable</string>
	<key>errorLikeKind</key>
	<string>zoneWithProxy</string>
	<key>integerStateBound</key>
	<string>routeMediatorInteraction</string>
</dict>
</plist>
