<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesUntilKind</key>
	<string>sceneOrSingleton</string>
	<key>descriptorWithoutProcess</key>
	<string>builderThanObserver</string>
	<key>futureAmongCommand</key>
	<string>commandThroughPlatform</string>
	<key>metadataAboutVar</key>
	<string>firstZoneHead</string>
	<key>nodeJobBottom</key>
	<string>comprehensiveConvolutionType</string>
	<key>observerFrameworkName</key>
	<string>documentLevelTag</string>
	<key>textIncludeStyle</key>
	<string>durationSingletonTransparency</string>
	<key>uniformEntropyCenter</key>
	<string>subscriptionInsideValue</string>
	<key>unsortedControllerVisibility</key>
	<string>sizedboxViaCommand</string>
	<key>visibleResourceSkewy</key>
	<string>taskBufferHead</string>
</dict>
</plist>
