<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentIncludeFramework</key>
	<string>descriptionWithoutTask</string>
	<key>awaitTempleRotation</key>
	<string>requestOutsideTask</string>
	<key>builderAndAction</key>
	<string>routerAsDecorator</string>
	<key>channelAmongSystem</key>
	<string>reducerLevelAppearance</string>
	<key>containerContainMemento</key>
	<string>radiusLevelDirection</string>
	<key>mediaqueryPlatformType</key>
	<string>queueFlyweightDuration</string>
	<key>multiplicationUntilTask</key>
	<string>imperativePlateSpeed</string>
	<key>permissiveConfigurationVisible</key>
	<string>interactiveLayerCoord</string>
	<key>rowSingletonTop</key>
	<string>chapterProxyStyle</string>
</dict>
</plist>
