<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackInterpreterAlignment</key>
	<string>exponentWorkSpeed</string>
	<key>dedicatedSwiftTension</key>
	<string>allocatorAlongFacade</string>
	<key>desktopSizedboxSize</key>
	<string>behaviorExceptMediator</string>
	<key>graphParameterForce</key>
	<string>denseSlashLocation</string>
	<key>queueThanTask</key>
	<string>lazySinkCount</string>
</dict>
</plist>
