<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>injectionPrototypeVisible</key>
	<string>multiEffectInterval</string>
	<key>lazyMetadataDensity</key>
	<string>tweenForScope</string>
	<key>queryAtOperation</key>
	<string>symmetricTransitionRate</string>
	<key>requestMethodAppearance</key>
	<string>independentQueueStyle</string>
	<key>signatureMethodVisibility</key>
	<string>contractionKindIndex</string>
	<key>titleProxyFormat</key>
	<string>vectorOutsideInterpreter</string>
</dict>
</plist>
