<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartEnvironmentColor</key>
	<string>alignmentTierLeft</string>
	<key>errorIncludeActivity</key>
	<string>dependencyDuringMode</string>
	<key>lostCosineCoord</key>
	<string>retainedResolverInteraction</string>
	<key>optimizerJobDuration</key>
	<string>skirtOfParam</string>
	<key>progressbarAlongFramework</key>
	<string>commonAlignmentTop</string>
	<key>projectPatternState</key>
	<string>interfaceKindOffset</string>
	<key>resourceActionScale</key>
	<string>drawerProcessKind</string>
	<key>segmentInLevel</key>
	<string>sliderFrameworkRotation</string>
	<key>skirtDespiteState</key>
	<string>crudeParticleSkewy</string>
	<key>slashWorkEdge</key>
	<string>labelOutsideFacade</string>
</dict>
</plist>
