<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonTextType</key>
	<string>radiusAgainstFunction</string>
	<key>curveModeDistance</key>
	<string>blocCommandShape</string>
	<key>delegatePhasePressure</key>
	<string>asynchronousCheckboxHue</string>
	<key>factoryModeRate</key>
	<string>managerAmongTemple</string>
	<key>localScaffoldResponse</key>
	<string>sliderThroughStrategy</string>
	<key>mainBoxshadowType</key>
	<string>dedicatedGradientTransparency</string>
	<key>positionUntilObserver</key>
	<string>scaleMementoRotation</string>
</dict>
</plist>
