<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesWithoutOperation</key>
	<string>animationOfState</string>
	<key>imperativeChecklistState</key>
	<string>largeProjectionStatus</string>
	<key>mobxViaValue</key>
	<string>streamLikeType</string>
	<key>nibLevelSkewx</key>
	<string>agilePointRight</string>
	<key>reductionDespiteVariable</key>
	<string>constCoordinatorType</string>
	<key>sustainableResolverTail</key>
	<string>smartRadioSpacing</string>
	<key>visibleVariantVelocity</key>
	<string>accessibleParticleShade</string>
</dict>
</plist>
