<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticCompleterContrast</key>
	<string>persistentServicePressure</string>
	<key>compositionalTextureMode</key>
	<string>operationAboutJob</string>
	<key>cubePerSingleton</key>
	<string>featureChainCenter</string>
	<key>intermediateProfileOffset</key>
	<string>unsortedSpineHead</string>
	<key>managerPerScope</key>
	<string>awaitBufferShade</string>
	<key>navigatorSystemState</key>
	<string>textfieldSystemMargin</string>
	<key>semanticsForActivity</key>
	<string>accessibleSpineBrightness</string>
	<key>subtleManagerOpacity</key>
	<string>promiseWithPlatform</string>
	<key>widgetBridgeOpacity</key>
	<string>scaffoldDuringParam</string>
</dict>
</plist>
