<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonAboutKind</key>
	<string>statelessLabelColor</string>
	<key>collectionAtProxy</key>
	<string>animatedcontainerWorkCoord</string>
	<key>disparateFactoryFormat</key>
	<string>relationalQueuePressure</string>
	<key>diversifiedBoxDensity</key>
	<string>inheritedSpecifierLeft</string>
	<key>durationStructureContrast</key>
	<string>mobileSessionTag</string>
	<key>scrollableAnchorHue</key>
	<string>statefulHandlerSpacing</string>
</dict>
</plist>
