<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateStyleIndex</key>
	<string>criticalCubitInteraction</string>
	<key>bufferModeSpacing</key>
	<string>lastSpecifierHead</string>
	<key>lazyBulletLeft</key>
	<string>cacheOfVar</string>
	<key>mapStructureInterval</key>
	<string>resilientContainerVelocity</string>
	<key>remainderViaPrototype</key>
	<string>basicQueryOffset</string>
	<key>sliderOutsideStrategy</key>
	<string>delegateBesideParam</string>
</dict>
</plist>
