<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonFrameworkTension</key>
	<string>semanticStatelessSize</string>
	<key>capacitiesAroundStrategy</key>
	<string>buttonVersusMediator</string>
	<key>giftPlatformVisible</key>
	<string>fixedFeatureScale</string>
	<key>spineVersusKind</key>
	<string>themeContainVisitor</string>
	<key>subscriptionAtMode</key>
	<string>mainCoordinatorVelocity</string>
	<key>textPatternType</key>
	<string>disabledStateHead</string>
	<key>threadTempleDepth</key>
	<string>rectForPattern</string>
	<key>zoneTierScale</key>
	<string>positionActivityShade</string>
</dict>
</plist>
