<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardMediaqueryVisibility</key>
	<string>sortedPaddingResponse</string>
	<key>eagerCacheDuration</key>
	<string>providerJobName</string>
	<key>giftByLayer</key>
	<string>queueLayerVisible</string>
	<key>gradientVisitorAlignment</key>
	<string>repositoryOfStructure</string>
	<key>imperativeHashStyle</key>
	<string>controllerProxyLeft</string>
</dict>
</plist>
