<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedHashInset</key>
	<string>transitionThroughDecorator</string>
	<key>cupertinoResourceRight</key>
	<string>relationalErrorPosition</string>
	<key>decorationParameterLeft</key>
	<string>dimensionKindState</string>
	<key>frameProxyCount</key>
	<string>repositoryUntilFramework</string>
	<key>scaffoldDecoratorHue</key>
	<string>grainIncludeContext</string>
</dict>
</plist>
