<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cosineCommandAlignment</key>
	<string>injectionSinceMemento</string>
	<key>eagerGemContrast</key>
	<string>screenPrototypePosition</string>
	<key>masterParamState</key>
	<string>curveStateVisible</string>
	<key>observerAgainstComposite</key>
	<string>bufferStageKind</string>
	<key>reactiveRadiusTheme</key>
	<string>topicDuringContext</string>
	<key>scaleAdapterIndex</key>
	<string>modelSingletonPadding</string>
	<key>stackWorkBottom</key>
	<string>cubitBesideCommand</string>
	<key>synchronousSizedboxValidation</key>
	<string>positionAlongMediator</string>
</dict>
</plist>
