<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedProviderPressure</key>
	<string>comprehensiveCustompaintShape</string>
	<key>diversifiedAnimationAlignment</key>
	<string>controllerDuringFunction</string>
	<key>inactiveQueryVisibility</key>
	<string>globalStoreShade</string>
	<key>providerCycleMode</key>
	<string>ignoredCubitDensity</string>
	<key>temporaryCoordinatorDuration</key>
	<string>channelModeTail</string>
	<key>uniformNavigatorFlags</key>
	<string>descriptorDuringForm</string>
</dict>
</plist>
