<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocInParameter</key>
	<string>unactivatedQueuePosition</string>
	<key>displayableDialogsOrientation</key>
	<string>collectionDespiteOperation</string>
	<key>gemVarOpacity</key>
	<string>giftAtVariable</string>
	<key>offsetAboutVisitor</key>
	<string>protocolDecoratorSkewx</string>
	<key>permanentShaderMomentum</key>
	<string>multiStorageSpacing</string>
</dict>
</plist>
