<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderValueSpacing</key>
	<string>streamViaContext</string>
	<key>fixedRiverpodOrientation</key>
	<string>buttonBeyondVar</string>
	<key>missedLabelBottom</key>
	<string>effectVariableAlignment</string>
	<key>resourceAboutMode</key>
	<string>tensorMemberResponse</string>
</dict>
</plist>
