<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityActivityRotation</key>
	<string>asyncOfCommand</string>
	<key>constraintFormPosition</key>
	<string>sensorInAction</string>
	<key>scaffoldThanScope</key>
	<string>channelFrameworkTheme</string>
	<key>stackBeyondDecorator</key>
	<string>isolateByChain</string>
</dict>
</plist>
