<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>effectLikeMethod</key>
	<string>intensityPhaseOrientation</string>
	<key>ignoredRowTension</key>
	<string>workflowDespitePrototype</string>
	<key>mainBuilderInteraction</key>
	<string>greatRouteOffset</string>
	<key>mediaqueryAgainstDecorator</key>
	<string>ephemeralIndicatorRate</string>
	<key>methodContainPrototype</key>
	<string>greatEffectBrightness</string>
	<key>modelActivityDuration</key>
	<string>compositionEnvironmentOpacity</string>
	<key>rapidDescriptionTail</key>
	<string>sinkExceptEnvironment</string>
	<key>resourceModeTransparency</key>
	<string>originalDescriptionBorder</string>
	<key>substantialIsolateDistance</key>
	<string>asyncAtForm</string>
	<key>temporaryBlocBorder</key>
	<string>utilMementoAcceleration</string>
</dict>
</plist>
