<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocParameterOpacity</key>
	<string>easyServiceSpeed</string>
	<key>chartFunctionHue</key>
	<string>cupertinoPlatformMode</string>
	<key>currentHeapTop</key>
	<string>independentTernaryRotation</string>
	<key>descriptionParamMomentum</key>
	<string>providerInsideStage</string>
	<key>easyButtonSpeed</key>
	<string>hardStatelessShape</string>
	<key>missedSceneInteraction</key>
	<string>tabviewCommandSize</string>
	<key>nodeBesideLevel</key>
	<string>persistentHistogramState</string>
</dict>
</plist>
