<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesPerLevel</key>
	<string>aspectratioShapePadding</string>
	<key>consultativeTaskStyle</key>
	<string>intensityWithForm</string>
	<key>contractionAroundMode</key>
	<string>specifyErrorOrientation</string>
	<key>gemAwayFramework</key>
	<string>swiftLikeMode</string>
	<key>labelIncludeStage</key>
	<string>retainedServiceAppearance</string>
	<key>modalOutsideSingleton</key>
	<string>protocolAndParam</string>
	<key>navigatorUntilPlatform</key>
	<string>parallelGemIndex</string>
	<key>spineNumberSkewx</key>
	<string>alignmentForPrototype</string>
	<key>stampDuringInterpreter</key>
	<string>descriptorForOperation</string>
	<key>vectorLikePhase</key>
	<string>techniqueFrameworkSkewx</string>
</dict>
</plist>
