<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorPerStyle</key>
	<string>intermediateBrushCenter</string>
	<key>crucialProviderOrientation</key>
	<string>channelMediatorIndex</string>
	<key>extensionKindType</key>
	<string>kernelAsVisitor</string>
	<key>gridByParam</key>
	<string>ternaryMethodScale</string>
	<key>missionDespiteProxy</key>
	<string>baseStyleSaturation</string>
	<key>normalRouteTop</key>
	<string>layoutLikeStage</string>
	<key>resourceBridgeVisibility</key>
	<string>spineModeOrigin</string>
	<key>roleActivityBorder</key>
	<string>graphAsWork</string>
	<key>symbolCommandMargin</key>
	<string>basicZoneMargin</string>
	<key>textFromSingleton</key>
	<string>assetAlongMode</string>
</dict>
</plist>
