<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncChainContrast</key>
	<string>reductionNearKind</string>
	<key>buttonFacadeDirection</key>
	<string>animationNumberDistance</string>
	<key>constraintThanOperation</key>
	<string>buttonInParameter</string>
	<key>coordinatorAboutFunction</key>
	<string>isolateWithoutObserver</string>
	<key>criticalEntropySize</key>
	<string>sharedAsyncLeft</string>
	<key>interpolationThanBuffer</key>
	<string>projectionOperationPadding</string>
	<key>masterForFramework</key>
	<string>themeScopeTail</string>
</dict>
</plist>
