<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterThroughPrototype</key>
	<string>frameStructureForce</string>
	<key>ignoredVariantHue</key>
	<string>characterFunctionCount</string>
	<key>layerFromShape</key>
	<string>skinVersusDecorator</string>
	<key>listenerScopeName</key>
	<string>opaqueSkirtState</string>
	<key>normalMethodInteraction</key>
	<string>scrollAdapterState</string>
	<key>rowByTemple</key>
	<string>iterativeRadiusType</string>
	<key>semanticsContextFlags</key>
	<string>resourceBufferKind</string>
	<key>themeLayerTint</key>
	<string>synchronousInteractorOrigin</string>
</dict>
</plist>
