<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentVisitorBottom</key>
	<string>directlyWidgetShape</string>
	<key>batchAroundOperation</key>
	<string>fixedScrollStatus</string>
	<key>brushStateState</key>
	<string>frameInStage</string>
	<key>eventLikeEnvironment</key>
	<string>painterUntilFramework</string>
	<key>otherNavigatorForce</key>
	<string>callbackPhaseTop</string>
	<key>visiblePositionSkewy</key>
	<string>blocOfTask</string>
</dict>
</plist>
