<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorEnvironmentForce</key>
	<string>responsiveSizeSpacing</string>
	<key>graphDuringActivity</key>
	<string>referenceWithVar</string>
	<key>layerNearPrototype</key>
	<string>axisVersusNumber</string>
	<key>missionOutsideInterpreter</key>
	<string>seamlessChecklistFeedback</string>
	<key>queueCompositeColor</key>
	<string>prevQueryColor</string>
	<key>sizedboxEnvironmentMomentum</key>
	<string>shaderAroundForm</string>
	<key>tappableCompositionAppearance</key>
	<string>stepValueForce</string>
	<key>threadContextTag</key>
	<string>observerLikeStyle</string>
</dict>
</plist>
