<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineCycleIndex</key>
	<string>delegatePrototypeTheme</string>
	<key>constraintValueVisibility</key>
	<string>mutablePriorityTension</string>
	<key>curveOrDecorator</key>
	<string>lazyFrameMargin</string>
	<key>customQueueType</key>
	<string>axisBridgeHue</string>
	<key>injectionInterpreterVisibility</key>
	<string>equalizationFrameworkEdge</string>
	<key>localProviderState</key>
	<string>appbarObserverOffset</string>
	<key>matrixCommandCenter</key>
	<string>completerStateTag</string>
	<key>optionWithPattern</key>
	<string>imperativeListviewBehavior</string>
	<key>symbolAroundVisitor</key>
	<string>uniqueZoneFrequency</string>
	<key>textAsDecorator</key>
	<string>observerOutsideTask</string>
</dict>
</plist>
