<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directDependencyResponse</key>
	<string>associatedDurationName</string>
	<key>eventCommandSkewx</key>
	<string>segueDespiteTier</string>
	<key>exceptionCompositeRate</key>
	<string>flexibleTouchDelay</string>
	<key>frameWithObserver</key>
	<string>clipperTaskScale</string>
	<key>multiObserverValidation</key>
	<string>loopOfPattern</string>
	<key>sortedMetadataIndex</key>
	<string>multiplicationVarDuration</string>
	<key>spotInsideStrategy</key>
	<string>statelessThroughVar</string>
	<key>stateLikeLayer</key>
	<string>denseReducerContrast</string>
</dict>
</plist>
