<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerWithInterpreter</key>
	<string>currentAxisSpeed</string>
	<key>decorationStageLocation</key>
	<string>awaitAndAction</string>
	<key>gemAndTask</key>
	<string>gridSingletonSkewx</string>
	<key>listenerFlyweightScale</key>
	<string>channelCommandFlags</string>
	<key>liteBorderTheme</key>
	<string>intensityMediatorValidation</string>
	<key>navigationFromObserver</key>
	<string>displayablePlateMomentum</string>
	<key>primaryMatrixDensity</key>
	<string>streamActionOrigin</string>
	<key>subtleFrameFeedback</key>
	<string>tweenObserverFeedback</string>
	<key>textfieldFromKind</key>
	<string>radiusIncludeLayer</string>
	<key>transformerOrVisitor</key>
	<string>optionOperationResponse</string>
</dict>
</plist>
