<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitAboutAction</key>
	<string>sceneStyleInteraction</string>
	<key>equipmentVersusNumber</key>
	<string>priorGraphFlags</string>
	<key>errorBeyondStyle</key>
	<string>reusableServiceDepth</string>
	<key>logarithmPerLayer</key>
	<string>subscriptionOrPlatform</string>
	<key>multiplicationFacadeRate</key>
	<string>cupertinoQueueInterval</string>
	<key>uniformMethodAcceleration</key>
	<string>anchorContextAppearance</string>
</dict>
</plist>
