<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncInsideFlyweight</key>
	<string>taskModePosition</string>
	<key>blocAdapterFrequency</key>
	<string>imageAboutType</string>
	<key>capsuleExceptCommand</key>
	<string>disparateSubscriptionShade</string>
	<key>elasticGemBehavior</key>
	<string>pointPerProxy</string>
	<key>ephemeralLabelCount</key>
	<string>missionFormBound</string>
	<key>memberCommandCount</key>
	<string>layoutAwaySystem</string>
	<key>usedTaskVisibility</key>
	<string>textSystemStyle</string>
</dict>
</plist>
