<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertChainDirection</key>
	<string>semanticNotificationColor</string>
	<key>commandAndPrototype</key>
	<string>scaffoldOutsideInterpreter</string>
	<key>discardedBuilderLocation</key>
	<string>serviceTempleTag</string>
	<key>exceptionInterpreterPosition</key>
	<string>popupPrototypeRate</string>
	<key>masterStrategyTint</key>
	<string>storyboardWorkMomentum</string>
</dict>
</plist>
