<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diffableStateIndex</key>
	<string>textfieldDuringStyle</string>
	<key>entityAlongVariable</key>
	<string>heapBesideChain</string>
	<key>expandedByPhase</key>
	<string>reductionProcessBound</string>
	<key>futurePerTask</key>
	<string>seamlessDelegateRight</string>
	<key>hyperbolicDurationInteraction</key>
	<string>layerLevelResponse</string>
	<key>interfaceScopeSaturation</key>
	<string>consultativeViewVelocity</string>
	<key>masterInCommand</key>
	<string>significantBlocFeedback</string>
	<key>promiseDespiteProcess</key>
	<string>delegateModeScale</string>
	<key>scaleTypeVisibility</key>
	<string>popupOutsideBridge</string>
	<key>statefulInPhase</key>
	<string>touchAboutStructure</string>
</dict>
</plist>
