<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationTempleBrightness</key>
	<string>liteMemberAppearance</string>
	<key>compositionCycleTheme</key>
	<string>viewThanState</string>
	<key>durationPhaseOpacity</key>
	<string>taskPlatformPadding</string>
	<key>inactiveAlertSkewy</key>
	<string>localizationMementoStyle</string>
	<key>lostEquipmentSpacing</key>
	<string>popupAmongParameter</string>
	<key>resizableEntityEdge</key>
	<string>nodeAdapterRate</string>
	<key>richtextUntilBuffer</key>
	<string>unarySingletonIndex</string>
	<key>sharedSemanticsAcceleration</key>
	<string>prismaticOverlayForce</string>
	<key>stackCommandEdge</key>
	<string>animationPlatformBottom</string>
</dict>
</plist>
