<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionAmongTemple</key>
	<string>unsortedInjectionDistance</string>
	<key>cartesianVectorLeft</key>
	<string>specifierAsType</string>
	<key>cursorTierDuration</key>
	<string>iconInEnvironment</string>
	<key>masterByPattern</key>
	<string>callbackValueMomentum</string>
	<key>mobileVariableVelocity</key>
	<string>reactiveHashHue</string>
	<key>sampleMementoTail</key>
	<string>textSingletonLocation</string>
</dict>
</plist>
