<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocWorkLeft</key>
	<string>controllerAtVar</string>
	<key>chapterOutsideActivity</key>
	<string>variantInValue</string>
	<key>mediumMapSpacing</key>
	<string>effectInsideTier</string>
	<key>statefulCompleterInterval</key>
	<string>capsuleNearInterpreter</string>
	<key>tabviewLayerDensity</key>
	<string>webIntensityLeft</string>
</dict>
</plist>
