<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoSessionIndex</key>
	<string>labelWorkFeedback</string>
	<key>instructionStageFlags</key>
	<string>webPopupBrightness</string>
	<key>invisibleChapterForce</key>
	<string>painterAlongParam</string>
	<key>monsterInsideMemento</key>
	<string>spriteUntilCommand</string>
	<key>primarySizeDepth</key>
	<string>typicalCommandSpacing</string>
</dict>
</plist>
