<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorAmongFacade</key>
	<string>behaviorLikeFlyweight</string>
	<key>assetPlatformShape</key>
	<string>autoAspectEdge</string>
	<key>contractionAwayWork</key>
	<string>pinchableFutureSpacing</string>
	<key>dedicatedBulletMode</key>
	<string>musicPerChain</string>
	<key>dependencyScopeDirection</key>
	<string>compositionalCurveBottom</string>
	<key>oldSymbolDirection</key>
	<string>storageAboutKind</string>
	<key>secondAwaitBrightness</key>
	<string>localCubeHead</string>
	<key>serviceFormAppearance</key>
	<string>cubitStyleAlignment</string>
	<key>usageUntilVisitor</key>
	<string>liteDurationBound</string>
</dict>
</plist>
