<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionAndVar</key>
	<string>smartAlignmentLocation</string>
	<key>comprehensiveStepForce</key>
	<string>accordionModelSpeed</string>
	<key>coordinatorInsideShape</key>
	<string>viewAwayOperation</string>
	<key>currentInteractorInset</key>
	<string>masterOrWork</string>
	<key>exceptionThroughMode</key>
	<string>descriptionAgainstState</string>
	<key>hierarchicalKernelOrientation</key>
	<string>temporaryZoneInterval</string>
	<key>injectionJobSkewx</key>
	<string>uniformFeaturePressure</string>
	<key>observerWithMemento</key>
	<string>nativeRectBottom</string>
	<key>overlayChainKind</key>
	<string>elasticAspectratioOrigin</string>
	<key>streamFlyweightTint</key>
	<string>loopVersusLayer</string>
</dict>
</plist>
