<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationAgainstSingleton</key>
	<string>custompaintThroughScope</string>
	<key>futureSystemTransparency</key>
	<string>titleTypeIndex</string>
	<key>inactiveCosineSpacing</key>
	<string>hardResponseScale</string>
	<key>marginPhasePressure</key>
	<string>fixedIndicatorRate</string>
	<key>stateInterpreterShape</key>
	<string>catalystAmongKind</string>
	<key>tabviewMementoLeft</key>
	<string>localizationPhaseSaturation</string>
</dict>
</plist>
