<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoGraphFeedback</key>
	<string>unsortedLocalizationInset</string>
	<key>expandedFlyweightTension</key>
	<string>errorPerVar</string>
	<key>hyperbolicAnimationAppearance</key>
	<string>allocatorEnvironmentMargin</string>
	<key>stackSinceMemento</key>
	<string>missedQueuePressure</string>
	<key>storageCompositeFrequency</key>
	<string>gridFacadeTag</string>
</dict>
</plist>
