<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dependencyNearKind</key>
	<string>interactiveAnchorDirection</string>
	<key>histogramEnvironmentEdge</key>
	<string>normalLabelCount</string>
	<key>permissiveResultAcceleration</key>
	<string>lossAwayTask</string>
	<key>rectTaskDelay</key>
	<string>specifyAssetTag</string>
	<key>subsequentInterpolationPosition</key>
	<string>checklistFrameworkSaturation</string>
</dict>
</plist>
