<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customizedTimerBorder</key>
	<string>geometricBatchDuration</string>
	<key>errorExceptTier</key>
	<string>binarySystemEdge</string>
	<key>keyErrorContrast</key>
	<string>playbackTierTransparency</string>
	<key>layerProxyAppearance</key>
	<string>immutableAssetLeft</string>
	<key>permanentDescriptorFormat</key>
	<string>lossAsTier</string>
	<key>responseStyleType</key>
	<string>anchorExceptShape</string>
	<key>reusableTitleSpacing</key>
	<string>getxForLayer</string>
	<key>zonePlatformFormat</key>
	<string>delegateJobTop</string>
</dict>
</plist>
