<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicZoneCoord</key>
	<string>constMobxStatus</string>
	<key>factoryAsJob</key>
	<string>handlerInsideStrategy</string>
	<key>labelAsStrategy</key>
	<string>workflowFunctionSpacing</string>
	<key>listviewOrParameter</key>
	<string>injectionInsideFunction</string>
	<key>routeBeyondEnvironment</key>
	<string>topicBesideStyle</string>
	<key>texturePrototypeVisibility</key>
	<string>cubitAndMemento</string>
</dict>
</plist>
