<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintShapeTag</key>
	<string>canvasVisitorMargin</string>
	<key>convolutionStrategyInterval</key>
	<string>resolverNumberOrientation</string>
	<key>ephemeralNodeBound</key>
	<string>basicRequestVelocity</string>
	<key>equipmentStyleRate</key>
	<string>visibleSegmentPadding</string>
	<key>exponentEnvironmentTint</key>
	<string>tickerFrameworkPressure</string>
	<key>iterativeFlexShape</key>
	<string>effectContainStrategy</string>
	<key>observerBeyondPlatform</key>
	<string>functionalPopupSkewy</string>
	<key>radiusEnvironmentVelocity</key>
	<string>boxshadowBeyondParam</string>
	<key>reducerNearCommand</key>
	<string>injectionAsMode</string>
	<key>reductionThroughVar</key>
	<string>interfaceByStructure</string>
</dict>
</plist>
