<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationVisitorContrast</key>
	<string>largeCapacitiesPosition</string>
	<key>mutableSinkFeedback</key>
	<string>interactiveRequestTint</string>
	<key>taskParameterSpacing</key>
	<string>subscriptionParamDirection</string>
	<key>uniqueCupertinoTension</key>
	<string>techniqueLevelBottom</string>
</dict>
</plist>
