<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delicateStoryboardTransparency</key>
	<string>topicDuringComposite</string>
	<key>durationAdapterDepth</key>
	<string>instructionLayerSkewx</string>
	<key>granularChapterMomentum</key>
	<string>operationTypeFormat</string>
	<key>kernelNumberBound</key>
	<string>textureExceptMemento</string>
	<key>presenterAlongParameter</key>
	<string>textVersusPlatform</string>
	<key>sceneInType</key>
	<string>immediateSinkDistance</string>
	<key>scrollableClipperAcceleration</key>
	<string>characterOrCycle</string>
	<key>similarMonsterContrast</key>
	<string>channelPhaseMargin</string>
	<key>vectorAsCommand</key>
	<string>displayableGrainIndex</string>
	<key>viewIncludeComposite</key>
	<string>semanticServiceInterval</string>
</dict>
</plist>
