<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeDocumentBottom</key>
	<string>petAmongFramework</string>
	<key>channelAndTemple</key>
	<string>sortedGetxSkewx</string>
	<key>declarativeCoordinatorOpacity</key>
	<string>inactiveMovementCount</string>
	<key>decorationPlatformBound</key>
	<string>statefulPerActivity</string>
	<key>enabledRichtextTheme</key>
	<string>routeAsTier</string>
	<key>eventForMethod</key>
	<string>intensityViaValue</string>
	<key>layoutFormContrast</key>
	<string>loopValueVisible</string>
	<key>localizationSincePlatform</key>
	<string>adaptiveCatalystSkewx</string>
	<key>subtleStackTag</key>
	<string>permanentVectorShade</string>
	<key>vectorStyleDistance</key>
	<string>tabviewByMemento</string>
</dict>
</plist>
