<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeAxisOrientation</key>
	<string>methodVersusKind</string>
	<key>diversifiedMediaCoord</key>
	<string>mainAssetOpacity</string>
	<key>materialLayoutAppearance</key>
	<string>transformerMediatorCount</string>
	<key>mediumDescriptionOffset</key>
	<string>accordionCompleterStatus</string>
	<key>priorCharacterBottom</key>
	<string>constMonsterSkewy</string>
	<key>requiredEventBottom</key>
	<string>granularBuilderMomentum</string>
</dict>
</plist>
