<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completionAboutAction</key>
	<string>composableArithmeticStyle</string>
	<key>effectKindAcceleration</key>
	<string>cupertinoVersusParameter</string>
	<key>musicProxyFlags</key>
	<string>equalizationViaMediator</string>
	<key>shaderObserverTint</key>
	<string>euclideanSliderInset</string>
	<key>sinkContextKind</key>
	<string>associatedScaleHue</string>
	<key>subscriptionOutsideNumber</key>
	<string>frameAmongProcess</string>
	<key>substantialPositionKind</key>
	<string>animatedcontainerOfCommand</string>
</dict>
</plist>
