<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directTopicTag</key>
	<string>petProxyTheme</string>
	<key>intermediateListenerLocation</key>
	<string>offsetPlatformBehavior</string>
	<key>mediumLocalizationDuration</key>
	<string>gridAlongFlyweight</string>
	<key>parallelBaseFeedback</key>
	<string>tensorTextDelay</string>
	<key>textInForm</key>
	<string>coordinatorIncludeShape</string>
	<key>topicFormBehavior</key>
	<string>featureLevelColor</string>
</dict>
</plist>
