<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionByCommand</key>
	<string>respectiveObserverType</string>
	<key>constraintBesideTask</key>
	<string>blocIncludeTier</string>
	<key>deferredExponentRotation</key>
	<string>modelByParam</string>
	<key>drawerOfNumber</key>
	<string>taskAgainstScope</string>
	<key>heapEnvironmentTheme</key>
	<string>diversifiedDimensionShape</string>
	<key>instructionParamFormat</key>
	<string>layoutAwayNumber</string>
	<key>navigatorFromKind</key>
	<string>rowWorkVisible</string>
	<key>resolverAdapterStatus</key>
	<string>tensorOverlayMargin</string>
	<key>semanticsPerType</key>
	<string>bufferForOperation</string>
</dict>
</plist>
