<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandAwayShape</key>
	<string>singleRichtextShape</string>
	<key>disparateCommandVisibility</key>
	<string>publicNavigatorTag</string>
	<key>equipmentMementoFormat</key>
	<string>columnValueInset</string>
	<key>sliderVisitorOrigin</key>
	<string>subtleMenuBottom</string>
	<key>sophisticatedApertureIndex</key>
	<string>subscriptionMethodAcceleration</string>
</dict>
</plist>
