<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetVersusScope</key>
	<string>tickerTierResponse</string>
	<key>columnPlatformFrequency</key>
	<string>litePresenterOpacity</string>
	<key>factoryFrameworkFlags</key>
	<string>painterOfAdapter</string>
	<key>intensityViaJob</key>
	<string>animatedcontainerVariableResponse</string>
	<key>matrixMethodOpacity</key>
	<string>nodeContextRate</string>
</dict>
</plist>
