<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardReductionDelay</key>
	<string>routeSinceOperation</string>
	<key>hyperbolicFactoryKind</key>
	<string>deferredStatelessStyle</string>
	<key>memberStageDelay</key>
	<string>nextObserverLeft</string>
	<key>normThroughStyle</key>
	<string>delegateAlongTemple</string>
	<key>routeCommandCenter</key>
	<string>streamForPlatform</string>
	<key>taskDuringSystem</key>
	<string>cubitOfKind</string>
</dict>
</plist>
