<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>catalystFrameworkColor</key>
	<string>reducerDespiteInterpreter</string>
	<key>consultativeButtonForce</key>
	<string>constraintForMemento</string>
	<key>easyAnimationStatus</key>
	<string>radiusPhaseForce</string>
	<key>mutableMobxTop</key>
	<string>comprehensiveBuilderContrast</string>
	<key>numericalGrainShade</key>
	<string>segueAsStyle</string>
	<key>radiusMethodValidation</key>
	<string>unactivatedUtilDuration</string>
	<key>repositoryFrameworkStyle</key>
	<string>synchronousCapsuleTag</string>
	<key>reusableCoordinatorBrightness</key>
	<string>permissiveQueueDistance</string>
	<key>sceneBeyondTask</key>
	<string>statelessChartInset</string>
	<key>synchronousStackOpacity</key>
	<string>protectedAwaitSkewy</string>
</dict>
</plist>
