<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>immediateProviderCount</key>
	<string>visibleGridTail</string>
	<key>responseEnvironmentDensity</key>
	<string>checklistThanPlatform</string>
	<key>textOperationSize</key>
	<string>queueLayerTail</string>
	<key>typicalCapacitiesDistance</key>
	<string>exceptionSinceChain</string>
</dict>
</plist>
