<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandOrVisitor</key>
	<string>labelParameterTint</string>
	<key>controllerPhasePressure</key>
	<string>draggableCommandShade</string>
	<key>intuitiveCanvasTension</key>
	<string>rowTempleTag</string>
	<key>materialIsolateStyle</key>
	<string>completionPhaseSpeed</string>
	<key>materialPhaseSpeed</key>
	<string>transitionActivityHue</string>
	<key>retainedPrecisionSpeed</key>
	<string>largeScrollRotation</string>
	<key>scaleScopeStyle</key>
	<string>buttonNearStructure</string>
	<key>scrollableServiceInset</key>
	<string>repositoryMethodFrequency</string>
</dict>
</plist>
