<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directCellRotation</key>
	<string>finalPromiseTail</string>
	<key>diversifiedSinkOrientation</key>
	<string>descriptorFormFlags</string>
	<key>previewOfShape</key>
	<string>rowTierLocation</string>
	<key>queueMethodBrightness</key>
	<string>visibleBrushMode</string>
	<key>subpixelCompositeStyle</key>
	<string>routerUntilWork</string>
</dict>
</plist>
