<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseDuringMethod</key>
	<string>skinBeyondTemple</string>
	<key>buttonAtMethod</key>
	<string>basicNodeFeedback</string>
	<key>consultativeChartVisibility</key>
	<string>reducerForValue</string>
	<key>intensityShapeHead</key>
	<string>catalystVersusNumber</string>
	<key>menuAroundStrategy</key>
	<string>rowLikeTask</string>
	<key>navigationNumberOrigin</key>
	<string>apertureUntilStage</string>
	<key>pinchableScreenSkewx</key>
	<string>associatedResolverInset</string>
	<key>sharedSkinFlags</key>
	<string>concreteSubscriptionTension</string>
	<key>switchModeState</key>
	<string>instructionAgainstProcess</string>
	<key>utilForPlatform</key>
	<string>accessibleChartTheme</string>
</dict>
</plist>
