<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerStateDensity</key>
	<string>customAnimationStyle</string>
	<key>directlySessionTop</key>
	<string>commonRadioInteraction</string>
	<key>gemCycleLeft</key>
	<string>storeVariableTint</string>
	<key>lastScaleMomentum</key>
	<string>fusedRoleTransparency</string>
	<key>radioBridgeRotation</key>
	<string>publicCubitPadding</string>
	<key>statefulStoreStatus</key>
	<string>handlerBesideKind</string>
	<key>tensorNavigationOrientation</key>
	<string>roleByType</string>
</dict>
</plist>
