<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateLevelSize</key>
	<string>routeParameterFormat</string>
	<key>coordinatorInsideLayer</key>
	<string>unsortedSpecifierDuration</string>
	<key>custompaintStyleSize</key>
	<string>exceptionPerTier</string>
	<key>extensionAgainstJob</key>
	<string>segmentFacadeFormat</string>
	<key>metadataAdapterRate</key>
	<string>temporaryFutureTransparency</string>
	<key>notifierTierValidation</key>
	<string>hardSliderTop</string>
	<key>pivotalChapterPadding</key>
	<string>secondBoxshadowDelay</string>
	<key>specifyViewLeft</key>
	<string>effectWorkSpeed</string>
	<key>vectorSinceBuffer</key>
	<string>buttonLikeComposite</string>
</dict>
</plist>
