<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleContainForm</key>
	<string>hierarchicalPromiseOffset</string>
	<key>directCapsuleIndex</key>
	<string>scrollInMemento</string>
	<key>tabbarMediatorDelay</key>
	<string>visibleStoreTransparency</string>
	<key>tappableResourceDepth</key>
	<string>vectorForFramework</string>
</dict>
</plist>
