<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contractionBeyondPhase</key>
	<string>interactiveCustompaintType</string>
	<key>crucialMissionBehavior</key>
	<string>slashActivityTheme</string>
	<key>cursorInsidePattern</key>
	<string>globalViewInteraction</string>
	<key>declarativeAsyncMargin</key>
	<string>serviceIncludeScope</string>
	<key>modalDecoratorStyle</key>
	<string>projectionExceptVisitor</string>
	<key>pinchableInterfaceScale</key>
	<string>smallAlignmentSize</string>
	<key>publicStepPosition</key>
	<string>zoneFrameworkValidation</string>
	<key>stepVariableOffset</key>
	<string>tensorObserverTop</string>
	<key>transformerAlongTier</key>
	<string>positionBeyondKind</string>
</dict>
</plist>
