<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoPopupKind</key>
	<string>ephemeralInstructionLeft</string>
	<key>optimizerDespiteActivity</key>
	<string>arithmeticContainerInteraction</string>
	<key>publicWidgetVelocity</key>
	<string>layerEnvironmentFeedback</string>
	<key>storeAboutForm</key>
	<string>sliderParameterHead</string>
	<key>tickerThanNumber</key>
	<string>localArithmeticEdge</string>
	<key>vectorContainVariable</key>
	<string>lazyQueueInset</string>
</dict>
</plist>
