<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedBuilderIndex</key>
	<string>appbarInsideVariable</string>
	<key>callbackLikeScope</key>
	<string>batchAlongMethod</string>
	<key>durationShapeAlignment</key>
	<string>materialPetEdge</string>
	<key>interactiveGesturedetectorTransparency</key>
	<string>layerStyleCount</string>
	<key>listviewByKind</key>
	<string>mobileVersusState</string>
	<key>priorityOfValue</key>
	<string>mobxVariableHue</string>
	<key>sizeOrNumber</key>
	<string>operationTypeHead</string>
	<key>uniqueObserverForce</key>
	<string>publicStoreValidation</string>
</dict>
</plist>
