<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeFutureDepth</key>
	<string>listviewScopeRotation</string>
	<key>asynchronousAlertFrequency</key>
	<string>pivotalAnimatedcontainerVisibility</string>
	<key>publicTransformerLocation</key>
	<string>geometricNavigationInterval</string>
	<key>usageAwayWork</key>
	<string>numericalQueueInset</string>
</dict>
</plist>
