<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitStageOrientation</key>
	<string>intermediateExpandedAppearance</string>
	<key>isolateOperationRight</key>
	<string>sortedCompleterIndex</string>
	<key>mobxBridgeSkewx</key>
	<string>petChainPadding</string>
	<key>projectionNearWork</key>
	<string>cupertinoPositionFrequency</string>
	<key>resilientTransformerSaturation</key>
	<string>interpolationWorkStatus</string>
	<key>semanticRowLocation</key>
	<string>transformerMediatorAlignment</string>
	<key>specifySliderSize</key>
	<string>utilSystemHue</string>
</dict>
</plist>
