<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonStructureSize</key>
	<string>interfaceMediatorRotation</string>
	<key>callbackPerVariable</key>
	<string>utilMementoIndex</string>
	<key>crudeViewValidation</key>
	<string>delegateMementoVelocity</string>
	<key>denseRectBottom</key>
	<string>queueCompositeAcceleration</string>
	<key>featureTypeForce</key>
	<string>switchAgainstFunction</string>
	<key>navigatorVersusActivity</key>
	<string>globalDecorationTag</string>
	<key>remainderDespiteTemple</key>
	<string>grayscaleDuringForm</string>
	<key>scrollableAlignmentPressure</key>
	<string>grainAboutStrategy</string>
	<key>widgetPhaseAppearance</key>
	<string>subpixelFromSingleton</string>
</dict>
</plist>
