<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionNearLevel</key>
	<string>modelCommandVelocity</string>
	<key>aspectFacadeVisibility</key>
	<string>descriptorContextSpacing</string>
	<key>entropyLayerDistance</key>
	<string>logFunctionForce</string>
	<key>hashStrategyContrast</key>
	<string>hierarchicalWidgetFormat</string>
	<key>heroViaFramework</key>
	<string>keyInteractorPadding</string>
	<key>responsePerKind</key>
	<string>layoutLevelTag</string>
	<key>shaderNearMethod</key>
	<string>heapTierInteraction</string>
	<key>textureByKind</key>
	<string>loopAndNumber</string>
</dict>
</plist>
