<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationViaInterpreter</key>
	<string>painterProxyShade</string>
	<key>crucialDependencyTheme</key>
	<string>completerVisitorBottom</string>
	<key>cubeNearTemple</key>
	<string>methodFunctionIndex</string>
	<key>lazyOffsetRight</key>
	<string>semanticsEnvironmentForce</string>
	<key>semanticConfigurationFrequency</key>
	<string>queueInBuffer</string>
	<key>smartCertificateMargin</key>
	<string>denseChartBehavior</string>
	<key>subtleAlertFeedback</key>
	<string>labelWithFlyweight</string>
</dict>
</plist>
