<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchWorkDirection</key>
	<string>scaffoldForChain</string>
	<key>granularExponentHead</key>
	<string>accessoryNearFacade</string>
	<key>interactiveProgressbarLocation</key>
	<string>baselineWithoutCommand</string>
	<key>rowWithKind</key>
	<string>sceneVarSkewx</string>
	<key>storyboardActionTransparency</key>
	<string>queuePhaseLocation</string>
</dict>
</plist>
