<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandAgainstTemple</key>
	<string>optimizerIncludeObserver</string>
	<key>customEventColor</key>
	<string>layoutStyleVisibility</string>
	<key>listenerVisitorPadding</key>
	<string>hashCommandDirection</string>
	<key>reactiveIndicatorSpeed</key>
	<string>channelPrototypeStatus</string>
	<key>resolverInsideStructure</key>
	<string>routerThroughEnvironment</string>
	<key>responseBeyondObserver</key>
	<string>gesturePlatformSize</string>
	<key>stepLevelOrigin</key>
	<string>visibleCubitFrequency</string>
	<key>textfieldFromKind</key>
	<string>cursorFormOrigin</string>
</dict>
</plist>
