<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisSinceChain</key>
	<string>nibPerFacade</string>
	<key>dropdownbuttonAtContext</key>
	<string>normViaForm</string>
	<key>keyMemberInset</key>
	<string>curveAwayDecorator</string>
	<key>operationOrTier</key>
	<string>petUntilMode</string>
	<key>standaloneRadioState</key>
	<string>customServiceAcceleration</string>
</dict>
</plist>
