<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxByTask</key>
	<string>newestProtocolForce</string>
	<key>gradientMethodDirection</key>
	<string>lastTextfieldFrequency</string>
	<key>injectionIncludeMemento</key>
	<string>skirtParamFeedback</string>
	<key>mediaContainInterpreter</key>
	<string>hashParamMargin</string>
	<key>tweenJobOrigin</key>
	<string>presenterAmongPattern</string>
</dict>
</plist>
