<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionJobColor</key>
	<string>permissiveInjectionForce</string>
	<key>configurationProcessTail</key>
	<string>queueExceptVisitor</string>
	<key>disabledTitleRotation</key>
	<string>intensityAgainstComposite</string>
	<key>newestLabelBottom</key>
	<string>requestOutsideVisitor</string>
	<key>resizableSpriteSaturation</key>
	<string>offsetEnvironmentSize</string>
	<key>roleAgainstComposite</key>
	<string>directCustompaintOpacity</string>
	<key>sinkBesideOperation</key>
	<string>interactorWithoutInterpreter</string>
	<key>transitionLayerType</key>
	<string>expandedOutsideFunction</string>
</dict>
</plist>
