<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderStyleCoord</key>
	<string>grainBufferRate</string>
	<key>consumerIncludeFunction</key>
	<string>techniqueTaskEdge</string>
	<key>cursorProcessHue</key>
	<string>normFacadeInset</string>
	<key>delicateMomentumTag</key>
	<string>featureWithoutFlyweight</string>
	<key>eagerNavigatorFeedback</key>
	<string>specifyErrorHue</string>
	<key>reusableProjectOpacity</key>
	<string>resourceAsProxy</string>
	<key>usageNumberBottom</key>
	<string>subpixelOutsideCommand</string>
	<key>visibleResourceBottom</key>
	<string>constraintBeyondScope</string>
	<key>webRowMode</key>
	<string>factoryExceptCycle</string>
	<key>zoneByScope</key>
	<string>directVectorIndex</string>
</dict>
</plist>
