<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedBuilderOrientation</key>
	<string>actionFormDelay</string>
	<key>containerContainParam</key>
	<string>challengeAsPattern</string>
	<key>denseStreamCoord</key>
	<string>constraintBesideMethod</string>
	<key>litePositionValidation</key>
	<string>indicatorMediatorMargin</string>
	<key>pointScopeInterval</key>
	<string>animationWithStage</string>
	<key>scrollableIsolateContrast</key>
	<string>brushCompositeSize</string>
	<key>spotActionLocation</key>
	<string>drawerStateState</string>
	<key>statelessAnimationPadding</key>
	<string>greatNavigatorKind</string>
	<key>touchIncludeInterpreter</key>
	<string>threadExceptPhase</string>
</dict>
</plist>
