<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartVersusInterpreter</key>
	<string>firstActionPressure</string>
	<key>compositionalResourceTag</key>
	<string>statelessThanInterpreter</string>
	<key>ephemeralSessionRight</key>
	<string>popupModeDensity</string>
	<key>fixedScaffoldDistance</key>
	<string>intensityDecoratorStyle</string>
	<key>grayscaleIncludeContext</key>
	<string>disabledCollectionFlags</string>
	<key>managerOutsideValue</key>
	<string>localizationPlatformPressure</string>
	<key>popupVisitorCenter</key>
	<string>touchAlongMemento</string>
	<key>storeInNumber</key>
	<string>agileDecorationOffset</string>
	<key>usageVersusStage</key>
	<string>cycleInterpreterInset</string>
</dict>
</plist>
