<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveOptionRate</key>
	<string>hyperbolicTextureScale</string>
	<key>crudeProjectionShape</key>
	<string>spotProcessAcceleration</string>
	<key>draggableAssetAcceleration</key>
	<string>serviceWithoutPlatform</string>
	<key>multiHeapShade</key>
	<string>transitionValuePressure</string>
	<key>positionActivityColor</key>
	<string>granularFramePosition</string>
	<key>responseShapeBottom</key>
	<string>substantialTextShade</string>
	<key>tickerVersusTemple</key>
	<string>priorOptimizerRate</string>
	<key>transitionNearPrototype</key>
	<string>keyConstraintValidation</string>
</dict>
</plist>
