<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseDuringStrategy</key>
	<string>threadInShape</string>
	<key>graphBufferBound</key>
	<string>independentResponseMomentum</string>
	<key>rectFromState</key>
	<string>publicSemanticsSpacing</string>
	<key>relationalResourceLeft</key>
	<string>desktopColumnCoord</string>
	<key>zoneActivityName</key>
	<string>resolverByNumber</string>
</dict>
</plist>
