<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionIntegerFormat</key>
	<string>animatedcontainerStageTheme</string>
	<key>actionByFramework</key>
	<string>modelFlyweightFrequency</string>
	<key>alertBridgeRate</key>
	<string>optionModeFlags</string>
	<key>granularTextureStatus</key>
	<string>topicSingletonSkewy</string>
	<key>immediateTitleContrast</key>
	<string>nativeNavigatorHead</string>
	<key>liteControllerType</key>
	<string>equipmentAsFacade</string>
	<key>modulusContainMemento</key>
	<string>opaqueAllocatorFrequency</string>
	<key>priorCoordinatorEdge</key>
	<string>sustainableDelegateVelocity</string>
	<key>signAwayStructure</key>
	<string>displayableLossScale</string>
	<key>subsequentMenuTag</key>
	<string>resolverViaPattern</string>
</dict>
</plist>
