<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryUntilCommand</key>
	<string>responsePlatformAlignment</string>
	<key>decorationStateSpacing</key>
	<string>mobxInterpreterStyle</string>
	<key>intermediateReducerShape</key>
	<string>controllerVarType</string>
	<key>isolateAsKind</key>
	<string>chartInsidePlatform</string>
	<key>lastTransitionShape</key>
	<string>reusableProfileTransparency</string>
	<key>monsterPlatformDepth</key>
	<string>allocatorAndJob</string>
	<key>offsetVisitorType</key>
	<string>operationValueTension</string>
	<key>providerFrameworkRotation</key>
	<string>borderJobVisibility</string>
	<key>scrollableBoxshadowSize</key>
	<string>originalAllocatorFlags</string>
	<key>widgetSingletonContrast</key>
	<string>sortedOffsetCount</string>
</dict>
</plist>
