<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentParamCoord</key>
	<string>disparateOverlaySpeed</string>
	<key>cartesianChecklistHue</key>
	<string>deferredStoreTheme</string>
	<key>convolutionWithNumber</key>
	<string>callbackAtVariable</string>
	<key>dropdownbuttonFrameworkInteraction</key>
	<string>blocCommandOpacity</string>
	<key>paddingByKind</key>
	<string>repositoryLayerHue</string>
	<key>resourceFormTint</key>
	<string>layoutAndInterpreter</string>
	<key>streamAndShape</key>
	<string>decorationFlyweightFrequency</string>
</dict>
</plist>
