<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>denseSceneContrast</key>
	<string>tweenNumberType</string>
	<key>frameChainRate</key>
	<string>asyncEntityScale</string>
	<key>immutableProjectAcceleration</key>
	<string>topicInsideAction</string>
	<key>imperativeSinkFeedback</key>
	<string>localTextEdge</string>
	<key>localizationVisitorDelay</key>
	<string>providerBufferShade</string>
	<key>loopChainTail</key>
	<string>lastRepositoryDensity</string>
	<key>singlePopupInteraction</key>
	<string>tappableMarginPosition</string>
	<key>transformerStyleBehavior</key>
	<string>accessibleScaffoldDelay</string>
</dict>
</plist>
