<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dedicatedNotificationMode</key>
	<string>configurationAgainstForm</string>
	<key>enabledCharacterVisibility</key>
	<string>vectorDuringKind</string>
</dict>
</plist>
