<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncIntensityMode</key>
	<string>currentMetadataHead</string>
	<key>asyncStructureName</key>
	<string>usageAgainstLevel</string>
	<key>binaryWithScope</key>
	<string>checklistThroughObserver</string>
	<key>interpolationStageForce</key>
	<string>shaderPlatformTail</string>
	<key>isolateViaTemple</key>
	<string>signJobTail</string>
	<key>opaqueUtilDensity</key>
	<string>behaviorBridgeSpeed</string>
	<key>sinkPrototypeSaturation</key>
	<string>dropdownbuttonBufferRotation</string>
	<key>skinForComposite</key>
	<string>opaqueCurveSaturation</string>
	<key>streamAmongBridge</key>
	<string>navigatorNearStructure</string>
	<key>timerOfAction</key>
	<string>normProxySize</string>
</dict>
</plist>
