<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentContextFrequency</key>
	<string>constraintPrototypeStyle</string>
	<key>constraintAwayFlyweight</key>
	<string>rectAgainstActivity</string>
	<key>crucialLoopVisibility</key>
	<string>masterAdapterFormat</string>
	<key>widgetAlongState</key>
	<string>prismaticAnchorPadding</string>
	<key>workflowBufferBrightness</key>
	<string>skinThroughTask</string>
</dict>
</plist>
