<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativeSliderPosition</key>
	<string>euclideanTransitionBound</string>
	<key>geometricUsageScale</key>
	<string>criticalModulusPadding</string>
	<key>mobileNavigationTransparency</key>
	<string>interfaceNearOperation</string>
	<key>plateFromMethod</key>
	<string>sophisticatedStreamFlags</string>
	<key>priorNotifierValidation</key>
	<string>protocolIncludeParam</string>
</dict>
</plist>
