<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionWithStructure</key>
	<string>contractionFacadeContrast</string>
	<key>easyResourceKind</key>
	<string>certificateVarBound</string>
	<key>lostSinkSaturation</key>
	<string>frameThanFlyweight</string>
	<key>repositoryDuringVisitor</key>
	<string>presenterEnvironmentDepth</string>
</dict>
</plist>
