<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxModeDistance</key>
	<string>coordinatorActionOpacity</string>
	<key>firstStoreAppearance</key>
	<string>batchVersusBuffer</string>
	<key>singleCertificateContrast</key>
	<string>respectiveClipperDuration</string>
	<key>skinNearPattern</key>
	<string>tappableManagerCenter</string>
	<key>smartCubitLocation</key>
	<string>compositionWorkTransparency</string>
	<key>tabbarOperationScale</key>
	<string>providerIncludeProcess</string>
</dict>
</plist>
