<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>denseTransformerStatus</key>
	<string>inactiveLayerAlignment</string>
	<key>missedModalMode</key>
	<string>baselineWithoutOperation</string>
	<key>resolverScopeShade</key>
	<string>notificationVisitorShape</string>
</dict>
</plist>
