<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarFrameworkEdge</key>
	<string>gridviewOfTemple</string>
	<key>borderCompositeTransparency</key>
	<string>gesturedetectorSingletonMomentum</string>
	<key>cardOrScope</key>
	<string>autoZoneDistance</string>
	<key>functionalBitrateRight</key>
	<string>handlerStateAcceleration</string>
	<key>imperativeTextCenter</key>
	<string>explicitExtensionScale</string>
	<key>queueAtAction</key>
	<string>resilientLayerPadding</string>
	<key>reducerInsideChain</key>
	<string>interactiveConsumerCenter</string>
</dict>
</plist>
