<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocStyleCoord</key>
	<string>streamTaskSize</string>
	<key>delicateLabelCount</key>
	<string>matrixVersusMode</string>
	<key>interpolationWithMediator</key>
	<string>expandedNearMemento</string>
	<key>overlayAndBridge</key>
	<string>mutableQueueFormat</string>
	<key>reductionAgainstCycle</key>
	<string>eventAmongChain</string>
	<key>routeViaObserver</key>
	<string>scrollableManagerDirection</string>
	<key>stateAroundMemento</key>
	<string>chapterFormDensity</string>
</dict>
</plist>
