<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificateLayerFormat</key>
	<string>tappableGrainScale</string>
	<key>descriptionOfFacade</key>
	<string>observerViaWork</string>
	<key>futurePerDecorator</key>
	<string>parallelButtonPosition</string>
	<key>histogramInsideActivity</key>
	<string>cellCommandInteraction</string>
	<key>reusableConfigurationSize</key>
	<string>responsiveActivityMomentum</string>
	<key>usedExponentDelay</key>
	<string>aspectValueRotation</string>
</dict>
</plist>
