<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarForMode</key>
	<string>instructionLayerSkewy</string>
	<key>baseSystemTint</key>
	<string>largeAspectType</string>
	<key>graphExceptFunction</key>
	<string>rectByBuffer</string>
	<key>keyBrushCount</key>
	<string>viewOfCycle</string>
	<key>layoutCycleSize</key>
	<string>significantPositionedContrast</string>
	<key>opaqueMenuOpacity</key>
	<string>observerNumberState</string>
	<key>smartDelegateTension</key>
	<string>lastQueryMargin</string>
	<key>statelessTouchTop</key>
	<string>numericalChannelAcceleration</string>
	<key>swiftNearAction</key>
	<string>batchAmongParameter</string>
</dict>
</plist>
