<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveModelTint</key>
	<string>textLevelHue</string>
	<key>deferredCaptionSkewx</key>
	<string>gateAndPhase</string>
	<key>dynamicBlocColor</key>
	<string>usecasePerVariable</string>
	<key>gateProcessSpeed</key>
	<string>projectAtTemple</string>
	<key>imageFlyweightDirection</key>
	<string>signatureFacadeSpacing</string>
	<key>significantGiftLocation</key>
	<string>giftViaStructure</string>
	<key>unactivatedProviderRotation</key>
	<string>coordinatorStageDistance</string>
</dict>
</plist>
