<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>immediateTextfieldInset</key>
	<string>remainderFromVar</string>
	<key>independentSpecifierCoord</key>
	<string>typicalUtilVisible</string>
	<key>riverpodPerContext</key>
	<string>spriteFunctionState</string>
	<key>stateStateStatus</key>
	<string>sineAboutFramework</string>
</dict>
</plist>
