<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eventPlatformHue</key>
	<string>missionTierLocation</string>
	<key>indicatorForParam</key>
	<string>overlayAwayForm</string>
	<key>lazySceneFormat</key>
	<string>missionContainWork</string>
	<key>liteTextRight</key>
	<string>mediocreCurveSpacing</string>
	<key>queryUntilMethod</key>
	<string>synchronousConsumerHue</string>
	<key>repositoryForTemple</key>
	<string>protectedOperationIndex</string>
	<key>spotAgainstScope</key>
	<string>nextNodeInset</string>
</dict>
</plist>
