<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonAlongVisitor</key>
	<string>hashNearProcess</string>
	<key>buttonFlyweightOffset</key>
	<string>animationPlatformInterval</string>
	<key>callbackWithoutTemple</key>
	<string>tabbarVariableType</string>
	<key>chartDuringComposite</key>
	<string>unactivatedTechniqueEdge</string>
	<key>materialThroughMode</key>
	<string>advancedReductionLeft</string>
	<key>mediaqueryAsMode</key>
	<string>semanticRemainderFeedback</string>
	<key>normalNavigatorValidation</key>
	<string>subpixelFlyweightShape</string>
	<key>robustGradientTension</key>
	<string>textureVersusEnvironment</string>
	<key>sizePatternCoord</key>
	<string>awaitDecoratorEdge</string>
</dict>
</plist>
