<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderInKind</key>
	<string>frameFacadeShade</string>
	<key>customSignFrequency</key>
	<string>dynamicAssetHead</string>
	<key>gridDespiteMemento</key>
	<string>pointShapeCoord</string>
	<key>intermediateTechniqueFeedback</key>
	<string>curveDespiteWork</string>
	<key>menuInterpreterTension</key>
	<string>fusedRadiusSkewy</string>
	<key>originalMultiplicationVisibility</key>
	<string>webMarginShape</string>
	<key>symbolThanPrototype</key>
	<string>particleBufferShade</string>
	<key>tabbarSingletonMargin</key>
	<string>difficultStatelessInteraction</string>
</dict>
</plist>
