<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>challengeScopeCoord</key>
	<string>constLabelAcceleration</string>
	<key>hyperbolicControllerColor</key>
	<string>widgetPrototypeDistance</string>
	<key>mediaqueryOfTier</key>
	<string>basicIntensityOrigin</string>
	<key>progressbarAgainstVar</key>
	<string>granularFeatureColor</string>
	<key>usageOperationShade</key>
	<string>positionFacadeSkewx</string>
</dict>
</plist>
