<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerInPlatform</key>
	<string>rowFunctionBorder</string>
	<key>permissivePrecisionColor</key>
	<string>providerUntilWork</string>
	<key>pivotalPlaybackFlags</key>
	<string>contractionPatternInteraction</string>
</dict>
</plist>
