<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellOutsideEnvironment</key>
	<string>commandDuringBridge</string>
	<key>checkboxTierOrigin</key>
	<string>callbackPlatformDuration</string>
	<key>fusedGiftDensity</key>
	<string>viewCycleAcceleration</string>
	<key>injectionLikeSystem</key>
	<string>themeMementoRotation</string>
	<key>opaqueMovementShape</key>
	<string>equalizationCycleBottom</string>
	<key>publicLayerDistance</key>
	<string>commandOfSingleton</string>
</dict>
</plist>
