<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncControllerSkewx</key>
	<string>temporaryResultInteraction</string>
	<key>blocLikeObserver</key>
	<string>resultFlyweightAppearance</string>
	<key>commandFrameworkSize</key>
	<string>eagerOverlayDistance</string>
	<key>frameOfObserver</key>
	<string>masterTempleTheme</string>
	<key>painterOrVariable</key>
	<string>notifierAmongStage</string>
	<key>protocolAndBridge</key>
	<string>gestureParamInset</string>
	<key>routeWithoutMediator</key>
	<string>graphModeForce</string>
	<key>storeProxySize</key>
	<string>chartNearStage</string>
	<key>subsequentAlignmentSkewy</key>
	<string>responseSinceCycle</string>
	<key>touchDuringCommand</key>
	<string>tabviewFrameworkTransparency</string>
</dict>
</plist>
