<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeResourceBorder</key>
	<string>tabbarContainForm</string>
	<key>constAnimationMomentum</key>
	<string>mutableQueueType</string>
	<key>cupertinoCanvasPressure</key>
	<string>usedStepFlags</string>
	<key>fusedResultEdge</key>
	<string>sliderAmongScope</string>
	<key>injectionCompositeRotation</key>
	<string>menuParameterScale</string>
	<key>progressbarParamOffset</key>
	<string>baselineFromStructure</string>
	<key>semanticSymbolOrientation</key>
	<string>mapFromProcess</string>
	<key>subsequentTransitionState</key>
	<string>resilientStampBorder</string>
</dict>
</plist>
