<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasIncludeNumber</key>
	<string>requestVersusFramework</string>
	<key>configurationAwayParameter</key>
	<string>newestGateShade</string>
	<key>frameLayerDuration</key>
	<string>substantialEventFlags</string>
	<key>isolatePerFacade</key>
	<string>storeActionTag</string>
	<key>queryAndAction</key>
	<string>hyperbolicSpotVisible</string>
	<key>richtextForFlyweight</key>
	<string>observerBesideWork</string>
	<key>unactivatedCanvasTop</key>
	<string>layerStructureInterval</string>
</dict>
</plist>
