<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorNearPattern</key>
	<string>observerVersusTask</string>
	<key>builderForLevel</key>
	<string>capsuleBufferLeft</string>
	<key>hardQueryStatus</key>
	<string>concurrentLayerPosition</string>
	<key>histogramBesideTemple</key>
	<string>chapterViaChain</string>
	<key>mobileInjectionTransparency</key>
	<string>methodFunctionSkewy</string>
	<key>segueForBridge</key>
	<string>documentVarFrequency</string>
	<key>sensorCompositeDistance</key>
	<string>switchPatternVisible</string>
	<key>smallCursorBorder</key>
	<string>asyncAsEnvironment</string>
	<key>sophisticatedAsyncScale</key>
	<string>stepScopeCenter</string>
	<key>topicAwayTier</key>
	<string>reactiveDescriptorResponse</string>
</dict>
</plist>
