<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocParamStyle</key>
	<string>staticConsumerName</string>
	<key>cacheOrContext</key>
	<string>typicalStackDelay</string>
	<key>cubeFrameworkHead</key>
	<string>allocatorMementoVisibility</string>
	<key>directlyTimerTransparency</key>
	<string>radioPrototypeOrientation</string>
	<key>firstAccessoryVisible</key>
	<string>techniqueFromScope</string>
</dict>
</plist>
