<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryProcessCoord</key>
	<string>consultativeCompositionPosition</string>
	<key>animatedcontainerWithoutInterpreter</key>
	<string>alignmentOperationAppearance</string>
	<key>animationOutsideForm</key>
	<string>sliderJobTension</string>
	<key>constraintValueMargin</key>
	<string>deferredLayerRate</string>
	<key>gemAsPhase</key>
	<string>cupertinoEffectRate</string>
	<key>greatCacheResponse</key>
	<string>chapterFrameworkTop</string>
	<key>managerVersusLayer</key>
	<string>significantEntityInterval</string>
	<key>publicCubitDuration</key>
	<string>apertureVersusVar</string>
	<key>stateEnvironmentIndex</key>
	<string>flexibleTaskDistance</string>
	<key>textureExceptTask</key>
	<string>listenerUntilWork</string>
</dict>
</plist>
