<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitLikeProxy</key>
	<string>bitratePerAdapter</string>
	<key>blocBesideInterpreter</key>
	<string>grayscaleWithFramework</string>
	<key>constCubitDensity</key>
	<string>taskObserverBottom</string>
	<key>cursorCycleTop</key>
	<string>skirtMementoTension</string>
	<key>customAlignmentBound</key>
	<string>consultativeBrushDistance</string>
	<key>decorationObserverVisible</key>
	<string>transitionParameterCenter</string>
	<key>ignoredAlignmentEdge</key>
	<string>fixedSliderScale</string>
	<key>semanticsSinceValue</key>
	<string>visibleHeroVisible</string>
	<key>timerSinceVariable</key>
	<string>normStateMomentum</string>
</dict>
</plist>
