<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerAwayParam</key>
	<string>delegateExceptProcess</string>
	<key>mobileDurationBottom</key>
	<string>enabledPromiseState</string>
	<key>operationEnvironmentVisible</key>
	<string>uniqueAwaitMode</string>
	<key>referenceForComposite</key>
	<string>offsetIncludeSingleton</string>
	<key>sceneSingletonPressure</key>
	<string>permissivePresenterOrientation</string>
	<key>stateMethodLocation</key>
	<string>managerOutsideTemple</string>
	<key>visibleDescriptorBrightness</key>
	<string>permanentControllerMode</string>
	<key>widgetSingletonAppearance</key>
	<string>imageCycleSize</string>
</dict>
</plist>
