<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleResolverTransparency</key>
	<string>factoryUntilTier</string>
	<key>commandMediatorVisibility</key>
	<string>priorSpotLocation</string>
	<key>completerAboutPrototype</key>
	<string>smallBulletBound</string>
	<key>controllerMediatorPosition</key>
	<string>routeForValue</string>
	<key>deferredResultBorder</key>
	<string>composableEntropySpacing</string>
	<key>lostTextBrightness</key>
	<string>effectBesideInterpreter</string>
	<key>materialPrototypeResponse</key>
	<string>handlerMementoMomentum</string>
	<key>nodeByChain</key>
	<string>substantialModulusPadding</string>
	<key>taskForLevel</key>
	<string>tweenWithoutStyle</string>
	<key>widgetWorkOrigin</key>
	<string>lossAroundPlatform</string>
</dict>
</plist>
