<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerProcessBound</key>
	<string>fixedExtensionBound</string>
	<key>instructionBesideMode</key>
	<string>independentHashName</string>
	<key>nativeExceptionCount</key>
	<string>responseAmongMethod</string>
	<key>seamlessGemAppearance</key>
	<string>semanticLoopMomentum</string>
	<key>singleTextAcceleration</key>
	<string>prevRowBorder</string>
	<key>statelessButtonDuration</key>
	<string>intermediateSpotSpacing</string>
	<key>subtleAspectratioValidation</key>
	<string>invisibleCycleMargin</string>
</dict>
</plist>
