<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderSingletonStatus</key>
	<string>providerDespiteJob</string>
	<key>descriptionPerLayer</key>
	<string>referenceFrameworkDensity</string>
	<key>managerInEnvironment</key>
	<string>independentBitrateTint</string>
	<key>metadataBufferFeedback</key>
	<string>curveActivitySaturation</string>
	<key>previewOperationSize</key>
	<string>persistentLogarithmFormat</string>
	<key>rapidHashTension</key>
	<string>requiredCoordinatorValidation</string>
	<key>smallBulletStatus</key>
	<string>inactiveMomentumTop</string>
</dict>
</plist>
