<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enabledEntityDirection</key>
	<string>repositoryVariableShade</string>
	<key>memberDecoratorOrigin</key>
	<string>giftByForm</string>
	<key>optimizerAboutParameter</key>
	<string>delicateProfileType</string>
	<key>paddingWithoutStyle</key>
	<string>cupertinoModulusType</string>
	<key>popupAroundFacade</key>
	<string>currentAnchorSpacing</string>
	<key>priorGramMomentum</key>
	<string>cupertinoOffsetKind</string>
	<key>referenceSystemStyle</key>
	<string>greatVectorHead</string>
	<key>segueAndPattern</key>
	<string>subsequentTransitionSkewx</string>
	<key>textureWithoutActivity</key>
	<string>widgetSingletonRate</string>
	<key>viewPatternAlignment</key>
	<string>animatedParticleHue</string>
</dict>
</plist>
