<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorAtDecorator</key>
	<string>optimizerPlatformAppearance</string>
	<key>backwardMobxContrast</key>
	<string>requiredServiceDepth</string>
	<key>descriptionShapeBorder</key>
	<string>animationCommandType</string>
	<key>displayableRichtextSkewx</key>
	<string>boxshadowFromComposite</string>
	<key>durationContextColor</key>
	<string>streamDuringLayer</string>
	<key>subpixelAboutVariable</key>
	<string>storageBridgePressure</string>
</dict>
</plist>
