<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackBufferRight</key>
	<string>liteSpineInteraction</string>
	<key>consultativeSizeRight</key>
	<string>robustRouteScale</string>
	<key>dynamicRequestFeedback</key>
	<string>permanentSegueDuration</string>
	<key>granularAnimatedcontainerHead</key>
	<string>tableSystemCenter</string>
	<key>gridviewAroundMemento</key>
	<string>paddingActionRotation</string>
	<key>liteGroupKind</key>
	<string>checklistFrameworkVisible</string>
	<key>mediaqueryStageMomentum</key>
	<string>commonQueueDirection</string>
	<key>priorSliderOffset</key>
	<string>constMusicDepth</string>
	<key>sharedSymbolFeedback</key>
	<string>controllerThanContext</string>
	<key>smartPromiseResponse</key>
	<string>parallelOverlayStatus</string>
</dict>
</plist>
