<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderTierLocation</key>
	<string>descriptionVersusNumber</string>
	<key>chapterPatternLocation</key>
	<string>interpolationAtNumber</string>
	<key>gridPerForm</key>
	<string>animationAmongBridge</string>
	<key>isolateLayerTension</key>
	<string>fragmentAgainstForm</string>
	<key>lazyModelBrightness</key>
	<string>channelWorkSkewx</string>
	<key>managerDuringLayer</key>
	<string>capsuleActionFlags</string>
	<key>radioPatternShape</key>
	<string>cubeOutsideValue</string>
	<key>shaderInsideFacade</key>
	<string>responsiveIntegerShape</string>
</dict>
</plist>
