<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryThanOperation</key>
	<string>baselineAdapterDirection</string>
	<key>buttonTempleOrigin</key>
	<string>checkboxViaPlatform</string>
	<key>comprehensiveNavigatorCoord</key>
	<string>utilParamCenter</string>
	<key>interactorSingletonMargin</key>
	<string>alphaInsideType</string>
	<key>interfaceBesideBuffer</key>
	<string>scrollOrValue</string>
	<key>nibCompositeCenter</key>
	<string>widgetProcessInteraction</string>
	<key>nodeByProxy</key>
	<string>invisibleLabelLeft</string>
	<key>petDespiteBridge</key>
	<string>skirtAsParam</string>
</dict>
</plist>
