<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>reactiveStorageTag</key>
	<string>draggableSwitchContrast</string>
	<key>resourceUntilFlyweight</key>
	<string>otherStoryboardAppearance</string>
	<key>scrollSingletonBottom</key>
	<string>mutableEntityMode</string>
	<key>stateJobDepth</key>
	<string>controllerAlongVariable</string>
	<key>subsequentCompletionSpacing</key>
	<string>titleInWork</string>
</dict>
</plist>
