<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>difficultChannelLeft</key>
	<string>dialogsSinceStrategy</string>
	<key>durationProcessTension</key>
	<string>reductionAboutMediator</string>
	<key>gesturedetectorTempleHead</key>
	<string>consumerLikeVar</string>
	<key>secondGestureOpacity</key>
	<string>nextLogMargin</string>
	<key>threadContainContext</key>
	<string>resolverBeyondSingleton</string>
</dict>
</plist>
