<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerAgainstSystem</key>
	<string>similarAspectratioInterval</string>
	<key>interactorOrPattern</key>
	<string>invisibleSceneForce</string>
	<key>localResponseInset</key>
	<string>tabbarWithoutMediator</string>
	<key>permanentInstructionMargin</key>
	<string>positionLevelPosition</string>
	<key>substantialPreviewEdge</key>
	<string>nodeInProxy</string>
	<key>ternaryWithoutPattern</key>
	<string>chapterFormIndex</string>
	<key>textSinceFramework</key>
	<string>momentumInterpreterMomentum</string>
</dict>
</plist>
