<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalGestureTail</key>
	<string>backwardGroupTension</string>
	<key>cubitFromWork</key>
	<string>flexibleDescriptorOrientation</string>
	<key>futureBeyondState</key>
	<string>utilTierAcceleration</string>
	<key>inkwellAmongMode</key>
	<string>symmetricExponentType</string>
	<key>navigationFacadeAppearance</key>
	<string>resolverIncludeType</string>
	<key>offsetBridgePressure</key>
	<string>reducerAroundAdapter</string>
	<key>synchronousHandlerType</key>
	<string>petAlongFacade</string>
	<key>touchIncludeChain</key>
	<string>resolverTaskHead</string>
</dict>
</plist>
