<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableConstraintTint</key>
	<string>shaderBridgeAlignment</string>
	<key>grayscaleFacadeMargin</key>
	<string>radiusMediatorEdge</string>
	<key>hyperbolicFrameType</key>
	<string>globalOffsetFormat</string>
	<key>lastFutureTail</key>
	<string>expandedAmongFacade</string>
</dict>
</plist>
