<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cycleNumberOrientation</key>
	<string>finalArithmeticDensity</string>
	<key>giftVarEdge</key>
	<string>overlayTempleTail</string>
	<key>labelPatternPadding</key>
	<string>overlayParamFeedback</string>
	<key>popupParamMomentum</key>
	<string>staticSubscriptionCount</string>
	<key>tangentShapeRate</key>
	<string>compositionalBrushVisibility</string>
	<key>textureIncludeDecorator</key>
	<string>builderAwayKind</string>
</dict>
</plist>
