<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationBufferDuration</key>
	<string>enabledGestureDirection</string>
	<key>managerBufferColor</key>
	<string>resourceTypeOffset</string>
	<key>notificationModeBorder</key>
	<string>visibleAlignmentTint</string>
</dict>
</plist>
