<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonPerCycle</key>
	<string>responsiveImageInterval</string>
	<key>controllerPrototypeVisibility</key>
	<string>symmetricRichtextStyle</string>
	<key>frameExceptParam</key>
	<string>adaptivePresenterContrast</string>
	<key>intensityVariableCount</key>
	<string>configurationAroundMethod</string>
	<key>mobileCustompaintTheme</key>
	<string>interactiveMusicStyle</string>
	<key>touchWithParam</key>
	<string>resourceAtParameter</string>
	<key>transitionObserverFlags</key>
	<string>signatureVersusNumber</string>
</dict>
</plist>
