<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayableGateBrightness</key>
	<string>sharedCapsuleBorder</string>
	<key>grainTempleInset</key>
	<string>extensionBeyondAdapter</string>
	<key>iterativePreviewDirection</key>
	<string>bufferKindInteraction</string>
	<key>logarithmAdapterValidation</key>
	<string>alertScopeRotation</string>
	<key>storyboardBeyondTier</key>
	<string>specifyStreamInterval</string>
</dict>
</plist>
