<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clipperTaskTail</key>
	<string>dedicatedBuilderMomentum</string>
	<key>groupByPattern</key>
	<string>permissiveSlashOpacity</string>
	<key>mapJobName</key>
	<string>sequentialSignatureVisible</string>
	<key>metadataViaVisitor</key>
	<string>collectionSinceState</string>
	<key>plateExceptBuffer</key>
	<string>gramLikeFlyweight</string>
	<key>unsortedActionShape</key>
	<string>themeFunctionHue</string>
</dict>
</plist>
