<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletStyleName</key>
	<string>hashKindDistance</string>
	<key>currentBinaryFormat</key>
	<string>gradientTierOpacity</string>
	<key>materialOptionTension</key>
	<string>difficultDependencyMargin</string>
	<key>progressbarAlongTask</key>
	<string>notifierChainOrientation</string>
	<key>robustStackEdge</key>
	<string>criticalEffectTension</string>
	<key>touchAmongValue</key>
	<string>navigatorStrategyTheme</string>
	<key>usageFormCount</key>
	<string>spriteCycleState</string>
</dict>
</plist>
