<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enabledRepositoryColor</key>
	<string>positionedParameterAcceleration</string>
	<key>ephemeralSignatureFeedback</key>
	<string>flexibleFutureBorder</string>
	<key>normalLayoutEdge</key>
	<string>layerModeVisibility</string>
	<key>specifierExceptVisitor</key>
	<string>directlyFeatureTail</string>
</dict>
</plist>
