<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveSpotPosition</key>
	<string>offsetAtKind</string>
	<key>channelsMementoAlignment</key>
	<string>groupLayerValidation</string>
	<key>commandContainKind</key>
	<string>draggableIntensityStyle</string>
	<key>lazyAnimationOpacity</key>
	<string>roleActionOrientation</string>
	<key>paddingNumberTint</key>
	<string>navigatorWithoutEnvironment</string>
	<key>publicCommandHue</key>
	<string>injectionFacadeHue</string>
	<key>specifyLayoutOrigin</key>
	<string>threadByPattern</string>
	<key>utilActivityOrigin</key>
	<string>shaderThanTemple</string>
</dict>
</plist>
