<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalZoneTail</key>
	<string>intensityIncludeParameter</string>
	<key>containerThanAdapter</key>
	<string>mediaqueryModeSize</string>
	<key>effectMediatorPadding</key>
	<string>containerAwayAdapter</string>
	<key>responseStageOrientation</key>
	<string>optionAwaySingleton</string>
</dict>
</plist>
