<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaWithFramework</key>
	<string>loopInsideEnvironment</string>
	<key>commandFrameworkScale</key>
	<string>interfaceOrFlyweight</string>
	<key>eventWorkLeft</key>
	<string>inheritedBaselineRate</string>
	<key>explicitLayerTop</key>
	<string>blocPhaseRate</string>
	<key>queryAboutFunction</key>
	<string>firstSineLeft</string>
	<key>radioObserverSkewy</key>
	<string>directDescriptorLeft</string>
</dict>
</plist>
