<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchParameterSkewx</key>
	<string>delicateResourceTension</string>
	<key>responsiveTaskBound</key>
	<string>activatedFutureAcceleration</string>
	<key>storeContextEdge</key>
	<string>cartesianTableAlignment</string>
</dict>
</plist>
