<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gradientSingletonPosition</key>
	<string>originalSkirtStyle</string>
	<key>granularNormDensity</key>
	<string>bulletPrototypeTension</string>
	<key>precisionBufferTop</key>
	<string>graphCycleOpacity</string>
	<key>repositoryIncludeValue</key>
	<string>completerTypeVelocity</string>
	<key>resizableScaffoldTop</key>
	<string>advancedResultHead</string>
	<key>responseThroughForm</key>
	<string>inkwellOfLayer</string>
</dict>
</plist>
