<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorFacadeInset</key>
	<string>agileAnimatedcontainerStyle</string>
	<key>equalizationVariableTheme</key>
	<string>queueAroundTemple</string>
	<key>euclideanMetadataSpacing</key>
	<string>storeMementoState</string>
	<key>functionalCurveHead</key>
	<string>awaitSingletonScale</string>
	<key>independentPetTension</key>
	<string>lazyAnimationDelay</string>
	<key>smallDecorationDirection</key>
	<string>statefulIncludeEnvironment</string>
	<key>threadFunctionRotation</key>
	<string>richtextTaskTint</string>
</dict>
</plist>
