<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteExponentLeft</key>
	<string>hashVersusParameter</string>
	<key>eventSinceParam</key>
	<string>typicalSymbolInset</string>
	<key>isolateDespiteScope</key>
	<string>dimensionThanStyle</string>
	<key>menuLevelHue</key>
	<string>immutableFactoryRate</string>
	<key>missedBufferHead</key>
	<string>animatedUsageInterval</string>
	<key>parallelPositionTheme</key>
	<string>sensorKindMargin</string>
	<key>similarLabelVisibility</key>
	<string>grainFromCommand</string>
	<key>standaloneCanvasDelay</key>
	<string>curveUntilFunction</string>
</dict>
</plist>
