<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>positionedAndFramework</key>
	<string>metadataAmongSystem</string>
	<key>requiredFramePadding</key>
	<string>radiusStructureFrequency</string>
	<key>shaderMementoFlags</key>
	<string>animatedCardAlignment</string>
	<key>specifierVarKind</key>
	<string>collectionShapeVelocity</string>
</dict>
</plist>
