<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitAroundBridge</key>
	<string>accessoryFunctionRate</string>
	<key>nodeDuringParameter</key>
	<string>accessibleExponentName</string>
	<key>resourceContextEdge</key>
	<string>gesturedetectorAboutWork</string>
	<key>spotOperationValidation</key>
	<string>uniformDelegateFeedback</string>
</dict>
</plist>
