<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityInVariable</key>
	<string>grainAwayKind</string>
	<key>collectionMementoDepth</key>
	<string>substantialScrollValidation</string>
	<key>coordinatorAboutMethod</key>
	<string>asyncScopeOrigin</string>
	<key>equipmentStyleTint</key>
	<string>newestSizeEdge</string>
	<key>monsterAtTier</key>
	<string>localizationTierRight</string>
	<key>standaloneListviewCount</key>
	<string>asynchronousBoxshadowAlignment</string>
	<key>textureUntilScope</key>
	<string>textNumberTop</string>
</dict>
</plist>
