<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferViaOperation</key>
	<string>asyncNavigationLocation</string>
	<key>criticalPriorityTail</key>
	<string>presenterCycleShape</string>
	<key>futureNearStructure</key>
	<string>shaderOfFramework</string>
	<key>gateThanDecorator</key>
	<string>capsuleAroundLevel</string>
	<key>integerViaFunction</key>
	<string>consumerAlongScope</string>
	<key>marginFlyweightOpacity</key>
	<string>awaitAroundType</string>
	<key>mobileFeatureOrientation</key>
	<string>constraintFrameworkPosition</string>
</dict>
</plist>
