<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableModelContrast</key>
	<string>reactiveInteractorTail</string>
	<key>integerAwayTier</key>
	<string>transitionEnvironmentMomentum</string>
	<key>reducerOfVar</key>
	<string>observerAmongLayer</string>
	<key>scrollSingletonColor</key>
	<string>blocEnvironmentDistance</string>
	<key>tabbarViaEnvironment</key>
	<string>graphicWithoutLevel</string>
</dict>
</plist>
