<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleBulletCenter</key>
	<string>flexThanShape</string>
	<key>columnInterpreterSkewx</key>
	<string>logarithmThroughJob</string>
	<key>decorationAndStrategy</key>
	<string>alignmentAroundProxy</string>
	<key>diffableSinkTag</key>
	<string>extensionTierLeft</string>
	<key>hashDespiteBridge</key>
	<string>substantialTweenLocation</string>
	<key>momentumEnvironmentRight</key>
	<string>entropyMementoLeft</string>
	<key>rectOperationAlignment</key>
	<string>staticPlateSpacing</string>
	<key>statefulJobTag</key>
	<string>rectLayerSize</string>
</dict>
</plist>
