<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorIncludeForm</key>
	<string>heapParamLocation</string>
	<key>imperativeTaskBehavior</key>
	<string>progressbarTempleType</string>
	<key>priorTransitionTheme</key>
	<string>retainedBufferDuration</string>
	<key>stepJobFormat</key>
	<string>statelessConfigurationOpacity</string>
</dict>
</plist>
