<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderObserverBehavior</key>
	<string>descriptorVersusTier</string>
	<key>decorationLikeLayer</key>
	<string>topicPatternMargin</string>
	<key>errorContextTint</key>
	<string>scrollTypeDepth</string>
	<key>grayscaleAmongLevel</key>
	<string>workflowStyleLeft</string>
	<key>matrixMementoPosition</key>
	<string>drawerScopeState</string>
	<key>numericalWidgetTail</key>
	<string>prevModelRotation</string>
	<key>popupVariableScale</key>
	<string>documentDespiteInterpreter</string>
	<key>priorThemeRate</key>
	<string>radiusAgainstSingleton</string>
	<key>storeByStructure</key>
	<string>storyboardDuringPattern</string>
</dict>
</plist>
