<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveChecklistTransparency</key>
	<string>storeProxyTransparency</string>
	<key>originalWidgetTransparency</key>
	<string>subpixelFrameworkAlignment</string>
	<key>requiredCompositionSize</key>
	<string>movementExceptVar</string>
	<key>routerCompositeOpacity</key>
	<string>normalStorageValidation</string>
	<key>uniqueGemTop</key>
	<string>composableScaleTag</string>
	<key>zoneContainTask</key>
	<string>subpixelLevelCount</string>
</dict>
</plist>
