<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fragmentDespitePattern</key>
	<string>labelFunctionAcceleration</string>
	<key>gemUntilTier</key>
	<string>sliderVersusCycle</string>
	<key>requestByState</key>
	<string>graphicFlyweightValidation</string>
</dict>
</plist>
