<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>challengeFormVisibility</key>
	<string>pivotalResponseBrightness</string>
	<key>declarativePaddingInteraction</key>
	<string>spineMethodState</string>
	<key>decorationPlatformStatus</key>
	<string>keyLossDuration</string>
	<key>gridContainVisitor</key>
	<string>consumerBufferShade</string>
	<key>gridInAdapter</key>
	<string>decorationSystemScale</string>
	<key>layerContainValue</key>
	<string>navigatorAdapterPosition</string>
	<key>localizationVarOrigin</key>
	<string>secondRowFeedback</string>
	<key>tickerOrState</key>
	<string>expandedFrameworkBorder</string>
	<key>titleBesidePrototype</key>
	<string>activityObserverAcceleration</string>
	<key>uniqueDurationCoord</key>
	<string>projectPerInterpreter</string>
</dict>
</plist>
