<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gridviewAwayVar</key>
	<string>taskInsideJob</string>
	<key>nibUntilOperation</key>
	<string>adaptiveSkinType</string>
	<key>variantBridgeState</key>
	<string>anchorFacadeRotation</string>
</dict>
</plist>
