<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentAdapterShape</key>
	<string>eagerResponsePosition</string>
	<key>animationBesideObserver</key>
	<string>chapterWithScope</string>
	<key>beginnerButtonScale</key>
	<string>materialPatternInteraction</string>
	<key>documentMethodMargin</key>
	<string>enabledCatalystCoord</string>
	<key>listviewOrBuffer</key>
	<string>providerBeyondWork</string>
	<key>menuBesidePhase</key>
	<string>constraintByPrototype</string>
	<key>missedReducerOrigin</key>
	<string>activeRadiusVisible</string>
	<key>modelVisitorFormat</key>
	<string>interfaceBeyondStrategy</string>
	<key>serviceStyleOrientation</key>
	<string>streamScopeType</string>
	<key>textSystemShade</key>
	<string>integerOrTemple</string>
</dict>
</plist>
