<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasForLayer</key>
	<string>taskAgainstLevel</string>
	<key>inheritedIconBehavior</key>
	<string>graphIncludeAdapter</string>
	<key>logarithmThroughStyle</key>
	<string>sceneActionTension</string>
	<key>requestFromMethod</key>
	<string>presenterFunctionRight</string>
</dict>
</plist>
