<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationForObserver</key>
	<string>reactiveEntropySpacing</string>
	<key>functionalSineForce</key>
	<string>pinchableResultHue</string>
	<key>lossNumberVelocity</key>
	<string>delegateParamResponse</string>
	<key>transformerLikeObserver</key>
	<string>curveVisitorName</string>
</dict>
</plist>
