<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxWithEnvironment</key>
	<string>accordionRemainderOpacity</string>
	<key>columnFunctionInset</key>
	<string>groupStrategyTop</string>
	<key>consumerFunctionAppearance</key>
	<string>newestPresenterDirection</string>
	<key>delegateInterpreterSpacing</key>
	<string>boxInsideActivity</string>
	<key>diversifiedPreviewAcceleration</key>
	<string>typicalPreviewRight</string>
	<key>durationAlongBridge</key>
	<string>easyArithmeticOrigin</string>
	<key>euclideanFutureTop</key>
	<string>standaloneChecklistTint</string>
	<key>integerModeFlags</key>
	<string>denseSliderType</string>
	<key>webPositionedTop</key>
	<string>descriptionFlyweightOrigin</string>
</dict>
</plist>
