<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleStorageSize</key>
	<string>accessibleButtonInterval</string>
	<key>advancedSubscriptionContrast</key>
	<string>previewStyleKind</string>
	<key>alertJobMargin</key>
	<string>asyncLayerEdge</string>
	<key>displayableBaseBorder</key>
	<string>smallMaterialMomentum</string>
	<key>ephemeralRequestBehavior</key>
	<string>promisePhaseInterval</string>
	<key>equalizationSinceNumber</key>
	<string>chartNearBridge</string>
	<key>invisibleVectorInterval</key>
	<string>progressbarOrJob</string>
	<key>sineAgainstKind</key>
	<string>flexibleDecorationPosition</string>
	<key>textPlatformName</key>
	<string>chapterViaBridge</string>
</dict>
</plist>
