<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>elasticNotifierFormat</key>
	<string>captionAroundSystem</string>
	<key>futureTaskTail</key>
	<string>permanentNormTransparency</string>
	<key>labelValueAppearance</key>
	<string>secondNotificationRate</string>
	<key>resizableControllerPressure</key>
	<string>durationInsideVariable</string>
	<key>storeThanProxy</key>
	<string>diversifiedWidgetBehavior</string>
	<key>webCompleterLeft</key>
	<string>geometricHeroDensity</string>
</dict>
</plist>
