<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationFacadeOrientation</key>
	<string>textfieldContainLayer</string>
	<key>beginnerGramOpacity</key>
	<string>builderInsideActivity</string>
	<key>disabledHashShape</key>
	<string>compositionModeTension</string>
	<key>disparateMobileDuration</key>
	<string>dialogsExceptState</string>
	<key>groupFromMediator</key>
	<string>operationOfStrategy</string>
	<key>mainNavigatorInset</key>
	<string>scrollableCapsuleBorder</string>
</dict>
</plist>
