<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionLayerScale</key>
	<string>optimizerMediatorOffset</string>
	<key>firstDelegateCount</key>
	<string>multiSizedboxFlags</string>
	<key>geometricScreenFrequency</key>
	<string>resilientDrawerStyle</string>
	<key>immediateRouteContrast</key>
	<string>remainderDecoratorPosition</string>
	<key>immutableMissionDelay</key>
	<string>navigatorParameterStyle</string>
	<key>zonePatternTheme</key>
	<string>referenceForStrategy</string>
</dict>
</plist>
