<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mobileFramePressure</key>
	<string>fusedTimerTail</string>
	<key>overlayAroundCommand</key>
	<string>blocInterpreterAlignment</string>
	<key>presenterParamSkewx</key>
	<string>scaleSinceShape</string>
	<key>sampleFlyweightSaturation</key>
	<string>ternaryInParameter</string>
	<key>usecaseUntilComposite</key>
	<string>channelAndStage</string>
</dict>
</plist>
