<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checklistTaskBound</key>
	<string>cubitAndPhase</string>
	<key>completerNearParam</key>
	<string>dedicatedIndicatorDelay</string>
	<key>containerInsideStyle</key>
	<string>intermediateConstraintMargin</string>
	<key>modalMementoTag</key>
	<string>delicateCursorDuration</string>
	<key>providerAndKind</key>
	<string>contractionPlatformSaturation</string>
	<key>rapidRowForce</key>
	<string>reusableCallbackSkewx</string>
	<key>repositoryFromNumber</key>
	<string>zonePerVar</string>
</dict>
</plist>
